# Folder Crap
.DS_Store
._*
Thumbs.db
*.pyc

# Private Stuff
.env
.private
.gitconfig
.vscode
scratchpad.txt
cursor.txtc
*.code-workspace
building/
tmp/
venv/
content/drafts
content/deleted
build/drafts
build/deleted
__pycache__
.ruff_cache
.mypy_cache