/* ########## CODEHILITE - CATPPUCCIN LATTE (LIGHT) ########## */

/* pre {
    line-height: 125%;
} */
td.linenos .normal {
    color: #4c4f69;
    /* background-color: #e6e9ef; */
    padding-left: 5px;
    padding-right: 5px;
}
span.linenos {
    color: #4c4f69;
    /* background-color: #e6e9ef; */
    padding-left: 5px;
    padding-right: 5px;
}
td.linenos .special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
}
span.linenos.special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
}
.codehilite .hll {
    background-color: #ffffcc;
}
.codehilite {
    /* background-color: #eff1f5; */
    color: #4c4f69;
}
.codehilite .c {
    color: #9ca0b0;
} /* Comment */
.codehilite .err {
    color: #d20f39;
} /* Error */
.codehilite .esc {
    color: #4c4f69;
} /* Escape */
.codehilite .g {
    color: #4c4f69;
} /* Generic */
.codehilite .k {
    color: #8839ef;
} /* Keyword */
.codehilite .l {
    color: #4c4f69;
} /* Literal */
.codehilite .n {
    color: #fe640b;
} /* Name */
.codehilite .o {
    color: #04a5e5;
} /* Operator */
.codehilite .x {
    color: #4c4f69;
} /* Other */
.codehilite .p {
    color: #4c4f69;
} /* Punctuation */
.codehilite .ch {
    color: #9ca0b0;
} /* Comment.Hashbang */
.codehilite .cm {
    color: #9ca0b0;
} /* Comment.Multiline */
.codehilite .cp {
    color: #9ca0b0;
} /* Comment.Preproc */
.codehilite .cpf {
    color: #9ca0b0;
} /* Comment.PreprocFile */
.codehilite .c1 {
    color: #9ca0b0;
} /* Comment.Single */
.codehilite .cs {
    color: #9ca0b0;
} /* Comment.Special */
.codehilite .gd {
    color: #4c4f69;
} /* Generic.Deleted */
.codehilite .ge {
    color: #4c4f69;
} /* Generic.Emph */
.codehilite .gr {
    color: #4c4f69;
} /* Generic.Error */
.codehilite .gh {
    color: #1e66f5;
    font-weight: bold;
} /* Generic.Heading */
.codehilite .gi {
    color: #4c4f69;
} /* Generic.Inserted */
.codehilite .go {
    color: #4c4f69;
} /* Generic.Output */
.codehilite .gp {
    color: #4c4f69;
} /* Generic.Prompt */
.codehilite .gs {
    color: #4c4f69;
} /* Generic.Strong */
.codehilite .gu {
    color: #4c4f69;
} /* Generic.Subheading */
.codehilite .gt {
    color: #4c4f69;
} /* Generic.Traceback */
.codehilite .kc {
    color: #fe640b;
} /* Keyword.Constant */
.codehilite .kd {
    color: #1e66f5;
} /* Keyword.Declaration */
.codehilite .kn {
    color: #179299;
} /* Keyword.Namespace */
.codehilite .kp {
    color: #8839ef;
} /* Keyword.Pseudo */
.codehilite .kr {
    color: #8839ef;
} /* Keyword.Reserved */
.codehilite .kt {
    color: #1e66f5;
} /* Keyword.Type */
.codehilite .ld {
    color: #4c4f69;
} /* Literal.Date */
.codehilite .m {
    color: #fe640b;
} /* Literal.Number */
.codehilite .s {
    color: #40a02b;
} /* Literal.String */
.codehilite .na {
    color: #1e66f5;
} /* Name.Attribute */
.codehilite .nb {
    color: #fe640b;
} /* Name.Builtin */
.codehilite .nc {
    color: #fe640b;
} /* Name.Class */
.codehilite .no {
    color: #df8e1d;
} /* Name.Constant */
.codehilite .nd {
    color: #1e66f5;
} /* Name.Decorator */
.codehilite .ni {
    color: #fe640b;
} /* Name.Entity */
.codehilite .ne {
    color: #fe640b;
} /* Name.Exception */
.codehilite .nf {
    color: #1e66f5;
} /* Name.Function */
.codehilite .nl {
    color: #1e66f5;
} /* Name.Label */
.codehilite .nn {
    color: #fe640b;
} /* Name.Namespace */
.codehilite .nx {
    color: #fe640b;
} /* Name.Other */
.codehilite .py {
    color: #fe640b;
} /* Name.Property */
.codehilite .nt {
    color: #8839ef;
} /* Name.Tag */
.codehilite .nv {
    color: #fe640b;
} /* Name.Variable */
.codehilite .ow {
    color: #04a5e5;
} /* Operator.Word */
.codehilite .pm {
    color: #4c4f69;
} /* Punctuation.Marker */
.codehilite .w {
    color: #4c4f69;
} /* Text.Whitespace */
.codehilite .mb {
    color: #fe640b;
} /* Literal.Number.Bin */
.codehilite .mf {
    color: #fe640b;
} /* Literal.Number.Float */
.codehilite .mh {
    color: #fe640b;
} /* Literal.Number.Hex */
.codehilite .mi {
    color: #fe640b;
} /* Literal.Number.Integer */
.codehilite .mo {
    color: #fe640b;
} /* Literal.Number.Oct */
.codehilite .sa {
    color: #40a02b;
} /* Literal.String.Affix */
.codehilite .sb {
    color: #40a02b;
} /* Literal.String.Backtick */
.codehilite .sc {
    color: #40a02b;
} /* Literal.String.Char */
.codehilite .dl {
    color: #40a02b;
} /* Literal.String.Delimiter */
.codehilite .sd {
    color: #40a02b;
} /* Literal.String.Doc */
.codehilite .s2 {
    color: #40a02b;
} /* Literal.String.Double */
.codehilite .se {
    color: #40a02b;
} /* Literal.String.Escape */
.codehilite .sh {
    color: #40a02b;
} /* Literal.String.Heredoc */
.codehilite .si {
    color: #40a02b;
} /* Literal.String.Interpol */
.codehilite .sx {
    color: #40a02b;
} /* Literal.String.Other */
.codehilite .sr {
    color: #40a02b;
} /* Literal.String.Regex */
.codehilite .s1 {
    color: #40a02b;
} /* Literal.String.Single */
.codehilite .ss {
    color: #40a02b;
} /* Literal.String.Symbol */
.codehilite .bp {
    color: #fe640b;
} /* Name.Builtin.Pseudo */
.codehilite .fm {
    color: #04a5e5;
} /* Name.Function.Magic */
.codehilite .vc {
    color: #fe640b;
} /* Name.Variable.Class */
.codehilite .vg {
    color: #fe640b;
} /* Name.Variable.Global */
.codehilite .vi {
    color: #fe640b;
} /* Name.Variable.Instance */
.codehilite .vm {
    color: #fe640b;
} /* Name.Variable.Magic */
.codehilite .il {
    color: #fe640b;
} /* Literal.Number.Integer.Long */

/* ########## CODEHILITE - CATPPUCCIN FRAPPE (DARK) ########## */
[data-theme="dark"] {
    /* pre {
        line-height: 125%;
    } */
    td.linenos .normal {
        color: #c6d0f5;
        /* background-color: #292c3c; */
        padding-left: 5px;
        padding-right: 5px;
    }
    span.linenos {
        color: #c6d0f5;
        /* background-color: #292c3c; */
        padding-left: 5px;
        padding-right: 5px;
    }
    td.linenos .special {
        color: #000000;
        background-color: #ffffc0;
        padding-left: 5px;
        padding-right: 5px;
    }
    span.linenos.special {
        color: #000000;
        background-color: #ffffc0;
        padding-left: 5px;
        padding-right: 5px;
    }
    .codehilite .hll {
        background-color: #ffffcc;
    }
    .codehilite {
        /* background-color: #303446; */
        color: #c6d0f5;
    }
    .codehilite .c {
        color: #737994;
    } /* Comment */
    .codehilite .err {
        color: #e78284;
    } /* Error */
    .codehilite .esc {
        color: #c6d0f5;
    } /* Escape */
    .codehilite .g {
        color: #c6d0f5;
    } /* Generic */
    .codehilite .k {
        color: #ca9ee6;
    } /* Keyword */
    .codehilite .l {
        color: #c6d0f5;
    } /* Literal */
    .codehilite .n {
        color: #ef9f76;
    } /* Name */
    .codehilite .o {
        color: #99d1db;
    } /* Operator */
    .codehilite .x {
        color: #c6d0f5;
    } /* Other */
    .codehilite .p {
        color: #c6d0f5;
    } /* Punctuation */
    .codehilite .ch {
        color: #737994;
    } /* Comment.Hashbang */
    .codehilite .cm {
        color: #737994;
    } /* Comment.Multiline */
    .codehilite .cp {
        color: #737994;
    } /* Comment.Preproc */
    .codehilite .cpf {
        color: #737994;
    } /* Comment.PreprocFile */
    .codehilite .c1 {
        color: #737994;
    } /* Comment.Single */
    .codehilite .cs {
        color: #737994;
    } /* Comment.Special */
    .codehilite .gd {
        color: #c6d0f5;
    } /* Generic.Deleted */
    .codehilite .ge {
        color: #c6d0f5;
    } /* Generic.Emph */
    .codehilite .gr {
        color: #c6d0f5;
    } /* Generic.Error */
    .codehilite .gh {
        color: #8caaee;
        font-weight: bold;
    } /* Generic.Heading */
    .codehilite .gi {
        color: #c6d0f5;
    } /* Generic.Inserted */
    .codehilite .go {
        color: #c6d0f5;
    } /* Generic.Output */
    .codehilite .gp {
        color: #c6d0f5;
    } /* Generic.Prompt */
    .codehilite .gs {
        color: #c6d0f5;
    } /* Generic.Strong */
    .codehilite .gu {
        color: #c6d0f5;
    } /* Generic.Subheading */
    .codehilite .gt {
        color: #c6d0f5;
    } /* Generic.Traceback */
    .codehilite .kc {
        color: #ef9f76;
    } /* Keyword.Constant */
    .codehilite .kd {
        color: #8caaee;
    } /* Keyword.Declaration */
    .codehilite .kn {
        color: #81c8be;
    } /* Keyword.Namespace */
    .codehilite .kp {
        color: #ca9ee6;
    } /* Keyword.Pseudo */
    .codehilite .kr {
        color: #ca9ee6;
    } /* Keyword.Reserved */
    .codehilite .kt {
        color: #8caaee;
    } /* Keyword.Type */
    .codehilite .ld {
        color: #c6d0f5;
    } /* Literal.Date */
    .codehilite .m {
        color: #ef9f76;
    } /* Literal.Number */
    .codehilite .s {
        color: #a6d189;
    } /* Literal.String */
    .codehilite .na {
        color: #8caaee;
    } /* Name.Attribute */
    .codehilite .nb {
        color: #ef9f76;
    } /* Name.Builtin */
    .codehilite .nc {
        color: #ef9f76;
    } /* Name.Class */
    .codehilite .no {
        color: #e5c890;
    } /* Name.Constant */
    .codehilite .nd {
        color: #8caaee;
    } /* Name.Decorator */
    .codehilite .ni {
        color: #ef9f76;
    } /* Name.Entity */
    .codehilite .ne {
        color: #ef9f76;
    } /* Name.Exception */
    .codehilite .nf {
        color: #8caaee;
    } /* Name.Function */
    .codehilite .nl {
        color: #8caaee;
    } /* Name.Label */
    .codehilite .nn {
        color: #ef9f76;
    } /* Name.Namespace */
    .codehilite .nx {
        color: #ef9f76;
    } /* Name.Other */
    .codehilite .py {
        color: #ef9f76;
    } /* Name.Property */
    .codehilite .nt {
        color: #ca9ee6;
    } /* Name.Tag */
    .codehilite .nv {
        color: #ef9f76;
    } /* Name.Variable */
    .codehilite .ow {
        color: #99d1db;
    } /* Operator.Word */
    .codehilite .pm {
        color: #c6d0f5;
    } /* Punctuation.Marker */
    .codehilite .w {
        color: #c6d0f5;
    } /* Text.Whitespace */
    .codehilite .mb {
        color: #ef9f76;
    } /* Literal.Number.Bin */
    .codehilite .mf {
        color: #ef9f76;
    } /* Literal.Number.Float */
    .codehilite .mh {
        color: #ef9f76;
    } /* Literal.Number.Hex */
    .codehilite .mi {
        color: #ef9f76;
    } /* Literal.Number.Integer */
    .codehilite .mo {
        color: #ef9f76;
    } /* Literal.Number.Oct */
    .codehilite .sa {
        color: #a6d189;
    } /* Literal.String.Affix */
    .codehilite .sb {
        color: #a6d189;
    } /* Literal.String.Backtick */
    .codehilite .sc {
        color: #a6d189;
    } /* Literal.String.Char */
    .codehilite .dl {
        color: #a6d189;
    } /* Literal.String.Delimiter */
    .codehilite .sd {
        color: #a6d189;
    } /* Literal.String.Doc */
    .codehilite .s2 {
        color: #a6d189;
    } /* Literal.String.Double */
    .codehilite .se {
        color: #a6d189;
    } /* Literal.String.Escape */
    .codehilite .sh {
        color: #a6d189;
    } /* Literal.String.Heredoc */
    .codehilite .si {
        color: #a6d189;
    } /* Literal.String.Interpol */
    .codehilite .sx {
        color: #a6d189;
    } /* Literal.String.Other */
    .codehilite .sr {
        color: #a6d189;
    } /* Literal.String.Regex */
    .codehilite .s1 {
        color: #a6d189;
    } /* Literal.String.Single */
    .codehilite .ss {
        color: #a6d189;
    } /* Literal.String.Symbol */
    .codehilite .bp {
        color: #ef9f76;
    } /* Name.Builtin.Pseudo */
    .codehilite .fm {
        color: #99d1db;
    } /* Name.Function.Magic */
    .codehilite .vc {
        color: #ef9f76;
    } /* Name.Variable.Class */
    .codehilite .vg {
        color: #ef9f76;
    } /* Name.Variable.Global */
    .codehilite .vi {
        color: #ef9f76;
    } /* Name.Variable.Instance */
    .codehilite .vm {
        color: #ef9f76;
    } /* Name.Variable.Magic */
    .codehilite .il {
        color: #ef9f76;
    } /* Literal.Number.Integer.Long */
}
