:root {
    --content-width: 65ch;
}

/* ########## RESETS AND DEFAULTS ########## */

html {
    color-scheme: light dark;
    scrollbar-gutter: stable;
}

/* :is(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
} */

/* responsive media */
img,
picture,
svg,
video {
    display: block;
    margin-inline: auto;
    max-width: 100%;
}

p {
    max-width: var(--content-width);
    text-wrap: pretty;
}

/* ########## PICO ADJUSTMENTS ########## */

@media (min-width: 576px) {
    .container {
        max-width: min(510px, var(--content-width));
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: min(700px, var(--content-width));
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: min(950px, var(--content-width));
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: min(1200px, var(--content-width));
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: min(1450px, var(--content-width));
    }
}

article {
    background-color: transparent;
    box-shadow: none;
}

article > header {
    background-color: transparent;
    border: none;
}

/* ########## PAGE STRUCTURE ########## */

.page-header {
    border-bottom: 1px dotted var(--pico-muted-border-color);
    padding-inline: var(--pico-block-spacing-horizontal);
}

body > header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: auto;
}

nav ul.icons::before {
    display: block;
    height: 1.125rem;
    margin-inline: var(--pico-nav-element-spacing-horizontal);
    border-left: var(--pico-border-width) solid var(--pico-form-element-border-color);
    content: "";
}

.page-nav .icons li {
    display: flex;
    align-items: center;
}

.page-nav .icons svg {
    height: 24px;
}

.page-nav .icons svg {
    color: var(--pico-color-amber-150);
}

.page-footer {
    border-top: 1px solid var(--pico-muted-border-color);
    padding-inline: var(--pico-block-spacing-horizontal);
}

.footer-nav {
    justify-content: center;
}

.copyright {
    color: var(--pico-muted-color);
    text-align: center;
}

/* ########## POSTS LIST ########## */

.posts-filter {
    padding-block: var(--pico-block-spacing-vertical);
    text-align: center;
}

.posts-list .post-title a {
    text-decoration: none;
}

/* ########## POST ########## */

article.post blockquote p {
    margin: 0;
}

/* ########## ABOUT PAGE ########## */

.social-icons {
    justify-content: center;
    padding-block-start: 1.5rem;
}

.social-icons ul {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.social-icons li {
    border: none !important;
    padding-block: 0;
}

.social-icons svg {
    height: 60px;
}

/* ########## SEARCH PAGE ########## */

.search {
    padding-block-end: 2rem;
}

.hidden {
    display: none;
}

/* ########## SOFTWARE PAGE ########## */

.support-buttons {
    display: flex;
    gap: 0.25rem;
    justify-content: space-evenly;
    margin-block: 1.5rem;
}

.support-buttons svg {
    color: var(--pico-color-pink-450);
    transition: all 0.2s ease-in-out;
}

.support-buttons a:hover svg {
    transform: scale(1.25);
}

/* ########## CUSTOM ELEMENTS ########## */

/* CUSTOM CALLOUTS */

.callout {
    --callout-background: light-dark(
        var(--pico-color-slate-50),
        var(--pico-color-slate-800)
    );
    --callout-border: light-dark(
        var(--pico-color-slate-300),
        var(--pico-color-slate-600)
    );
    --callout-color: light-dark(
        var(--pico-color-slate-800),
        var(--pico-color-slate-50)
    );

    background: var(--callout-background);
    border-left: 0.25rem solid var(--callout-border);
    font-weight: 500;
    margin-block: 2rem;
    padding: 1.25rem;

    P {
        color: var(--callout-color);
        margin: 0;
        padding: 0;
    }
}

.callout-positive {
    --callout-background: light-dark(
        var(--pico-color-jade-100),
        var(--pico-color-jade-800)
    );
    --callout-border: light-dark(
        var(--pico-color-jade-300),
        var(--pico-color-jade-600)
    );
    --callout-color: light-dark(var(--pico-color-jade-800), var(--pico-color-jade-100));
}

.callout-warning {
    --callout-background: light-dark(
        var(--pico-color-amber-100),
        var(--pico-color-amber-800)
    );
    --callout-border: light-dark(
        var(--pico-color-amber-300),
        var(--pico-color-amber-600)
    );
    --callout-color: light-dark(
        var(--pico-color-amber-800),
        var(--pico-color-amber-100)
    );
}

.callout-negative {
    --callout-background: light-dark(
        var(--pico-color-red-100),
        var(--pico-color-red-800)
    );
    --callout-border: light-dark(var(--pico-color-red-300), var(--pico-color-red-600));
    --callout-color: light-dark(var(--pico-color-red-800), var(--pico-color-red-100));
}

/* CODE COPY BUTTON */

.codehilite {
    position: relative;
}

.copy-button {
    background-color: var(--pico-code-background-color);
    display: block;
    padding: 0.25rem;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}
