:root {
  --content-width: 72rem;

  --rgb-black: 0, 0, 0;
  --rgb-white: 255, 255, 255;
  --rgb-almost-black: 51, 51, 51;
  --rgb-almost-white: 236, 233, 230;

  --rgb-blue: 0, 116, 228;
  --rgb-green: 41, 152, 80;
  --rgb-grey: 116, 116, 128;
  --rgb-light-grey: 251, 250, 249;
  --rgb-medium-grey: 226, 221, 215;
  --rgb-orange: 248, 121, 23;
  --rgb-red: 201, 36, 0;
  --rgb-yellow: 255, 214, 10;

  --rgb-background: var(--rgb-white);
  --rgb-ink: var(--rgb-almost-black);

  --color-black: rgb(var(--rgb-black));
  --color-almost-black: rgb(var(--rgb-almost-black));
  --color-primary: rgb(var(--rgb-blue));
  --color-secondary: rgb(var(--rgb-grey));
  --color-contrast: rgb(var(--rgb-black));
  --color-positive: rgb(var(--rgb-green));
  --color-negative: rgb(var(--rgb-red));
  --color-disabled: rgb(var(--rgb-grey));
  --color-yellow: rgb(var(--rgb-yellow));

  --color-txt: rgb(var(--rgb-ink));
  --color-txt--reversed: rgb(var(--rgb-background));
  --color-txt--subtle: rgba(var(--rgb-ink), 0.66);
  --color-txt--subtle-reversed: rgba(var(--rgb-background), 0.66);
  --color-txt--action: rgb(var(--rgb-blue));
  --color-txt--placeholder: rgba(var(--rgb-ink), 0.6);
  --color-txt--on-message-content: rgb(var(--rgb-almost-black));
  --color-txt--subtle-on-message-content: rgba(var(--rgb-almost-black), 0.66);
  --color-border: rgba(var(--rgb-ink), 0.15);
  --color-border--reversed: rgba(var(--rgb-almost-white), 0.25);
  --color-border--light: rgba(var(--rgb-ink), 0.05);
  --color-border--heavy: rgba(var(--rgb-ink), 0.5);
  --color-border--solid: rgb(var(--rgb-ink));
  --color-border--popup: rgba(var(--rgb-black), 0.15);
  --color-shadow: rgba(var(--rgb-medium-grey), 0.5);
  --color-shadow--light: rgba(var(--rgb-medium-grey), 0.3);
  --color-shadow--dark: rgba(var(--rgb-black), 0.1);

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family--mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;

  --font-size-base: 12px;
  --font-size-x-small: 1rem;
  --font-size-small: 1.2rem;
  --font-size-medium: 1.4rem;
  --font-size-large: 1.6rem;
  --font-size-x-large: 2rem;
  --font-size-xx-large: 3rem;

  --font-size-posts--header: var(--font-size-x-large);

  --line-height-x-small: 1;
  --line-height-small: 1.125;
  --line-height-medium: 1.25;
  --line-height-large: 1.5;
  --line-height-x-large: 1.75;
  --line-height--xx-large: 2;

  --spacing-x-small: 0.25rem;
  --spacing-small: 0.75rem;
  --spacing-medium: 1.25rem;
  --spacing-large: 1.75rem;
  --spacing-x-large: 2.25rem;
  --spacing-xx-large: 2.75rem;
  --spacing-xxx-large: 3.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --rgb-almost-black: 31, 31, 31;

    --rgb-blue: 80, 162, 255;
    --rgb-green: 105, 240, 174;
    --rgb-grey: 116, 116, 128;
    --rgb-light-grey: 39, 50, 62;
    --rgb-medium-grey: 51, 60, 71;
    --rgb-orange: 255, 184, 92;
    --rgb-red: 255, 120, 120;
    --rgb-yellow: 251, 225, 144;

    --rgb-background: var(--rgb-almost-black);
    --rgb-ink: var(--rgb-almost-white);

    --color-contrast: rgb(var(--rgb-white));
  }
}

@media (min-width: 60rem) {
  :root {
    --font-size-x-small: 1.2rem;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.2rem;
    --font-size-xx-large: 3.2rem;

    --font-size-posts--header: var(--font-size-xx-large);

    --spacing-x-small: 0.5rem;
    --spacing-small: 1rem;
    --spacing-medium: 1.5rem;
    --spacing-large: 2rem;
    --spacing-x-large: 2.5rem;
    --spacing-xx-large: 3rem;
    --spacing-xxx-large: 3.5rem;
  }
}

/* ########## CSS RESET ########## */
/* https://gist.github.com/Asjas/4d84111064a02e2de60efdf3a73c1296 */

/* Box sizing rules */
html {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Percentage based heights */
html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  line-height: var(--line-height-large);
  -webkit-font-smoothing: antialiased;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Make images, videos and icons easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

/* More sensible line-wrapping */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* React Framework Specific */
#root,
#__next {
  isolation: isolate;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ########## PAGE STYLING ########## */

html {
  background: rgb(var(--rgb-background));
  color: var(--color-txt);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  text-rendering: optimizeLegibility;
}

body {
  font-size: var(--font-size-medium);
}

main {
  margin: 0 auto;
  max-width: var(--content-width);
  padding: var(--spacing-medium);
  width: 100%;
}

/* ########## ELEMENT STYLING ########## */

header {
  padding: var(--spacing-small) 0;
  text-align: center;
}

logo {
  color: var(--color-txt--action);
  display: inline-block;
  margin-top: var(--spacing-large);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  line-height: var(--line-height-small);
  padding-bottom: var(--spacing-small);
  padding-top: var(--spacing-xx-large);
}

h1 {
  font-size: var(--font-size-xx-large);
}

h2 {
  font-size: var(--font-size-x-large);
}

h3 {
  font-size: var(--font-size-large);
}

h4 {
  font-size: var(--font-size-medium);
}

h5 {
  font-size: var(--font-size-small);
}

h6 {
  font-size: var(--font-size-x-small);
}

p {
  margin: var(--spacing-small) 0;
}

a {
  color: var(--color-txt--action);
}

a.secondary {
  color: var(--color-secondary);
}

a.contrast {
  color: var(--color-contrast);
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: var(--spacing-large) 0;
}

li {
  list-style-position: inside;
}

li > ul,
li > ol {
  margin: 0 0 0 var(--spacing-x-large);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-border);
  margin: var(--spacing-x-large) 0;
}

blockquote {
  border-inline-start: 1px solid var(--color-border);
  padding-block: 0;
  padding-inline-end: 0;
  padding-inline-start: var(--spacing-medium);
}

pre {
  font-family: var(--font-family--mono);
  font-size: var(--font-size-small);
  line-height: var(--line-height-large);
  margin: var(--spacing-large) 0;
  overflow-wrap: normal;
  overflow: auto;
  padding: var(--spacing-medium);
}

/* ########## NAVIGATION STYLING ########## */

header input#toggle {
  display: none;
}

#hamburger {
  position: absolute;
  right: var(--spacing-large);
  z-index: 1;
}

#icon-hamburger {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav {
  background: var(--color-txt--action);
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: -100%;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-top: var(--spacing-xxx-large);
}

nav ul li {
  padding-bottom: var(--spacing-medium);
}

nav a {
  color: rgb(var(--rgb-white));
  font-size: var(--font-size-xx-large);
  font-weight: 900;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

input#toggle:checked + #hamburger * {
  color: var(--color-txt--reversed);
}

input#toggle:checked + #hamburger + nav {
  top: 0;
  transform: scale(1);
}

/* ########## MAIN STYLING ########## */

main img {
  justify-content: center;
  margin: var(--spacing-large) auto;
}

main ul#posts {
  list-style: none;
  margin: 0;
}

main ul#posts h2 {
  font-size: var(--font-size-posts--header);
  list-style: none;
  margin: 0;
}

main ul#posts li:not(:first-child) {
  border: 0;
  border-top: 1px solid var(--color-border);
  margin-top: var(--spacing-xxx-large);
}

.callout {
  border-radius: var(--spacing-small);
  border: 1px solid var(--color-border);
  box-shadow: 5px 5px 7px var(--color-shadow);
  color: var(--color-txt) !important;
  margin: var(--spacing-large);
  padding: var(--spacing-large);
}

.callout p {
  margin: 0;
  padding: 0;
}

main button {
  background-color: rgb(var(--rgb-blue));
  border-radius: var(--spacing-large);
  border: none;
  color: var(--color-txt--reversed);
  cursor: pointer;
  font-size: var(--font-size-large);
  font-weight: 700;
  margin: var(--spacing-small);
  padding: var(--spacing-small) var(--spacing-medium);
}

input#search-query {
  width: 100%;
}

figure {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: var(--spacing-large) 0;
  text-indent: 0;
  width: 100%;
}

thead th {
  border-width: 3px;
}

td,
th {
  padding: var(--spacing-small);
  border-bottom: 1px solid var(--color-border--light);
  text-align: start;
}

table tbody tr:nth-child(odd) {
  background-color: var(--color-shadow--light);
}

/* ########## ABOUT STYLING ########## */

#social-media {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-large);
}

#social-media a {
  padding: var(--spacing-medium);
}

/* ########## FOOTER STYLING ########## */

footer {
  align-items: center;
  border-top: 1px solid var(--color-border);
  margin: var(--spacing-large) auto;
  max-width: var(--content-width);
  padding: var(--spacing-large) var(--spacing-small);
  width: 100%;
  text-align: center;
}

footer li {
  display: inline-block;
  padding: var(--spacing-small);
}

/* ########## UTILITY CLASSES ########## */

.bold {
  font-weight: 700 !important;
}

.bolder {
  font-weight: 900 !important;
}

/* .flex {
  align-items: center;
  display: flex;
  columns: 4;
  justify-content: left;
  padding-top: var(--spacing-medium);
}

.flex * {
  padding-inline: 1rem;
} */

.grid {
  grid-column-gap: var(--spacing-medium);
  grid-row-gap: var(--spacing-medium);
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

@media (min-width: 60rem) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.list-inline {
  display: inline !important;
}

.margin-none {
  margin: 0 !important;
}

.padding-none {
  padding: 0 !important;
}

.table {
  overflow-x: auto;
}

.text-align-center {
  text-align: center !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

/* ########## RESPONSIVE VIDEO WRAPPER ########## */
/* https://css-tricks.com/fluid-width-video/ */

.video-wrapper {
  height: 0;
  margin: var(--spacing-large) 0;
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
  position: relative;
}

.video-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
