:root {
    --content-width: 65ch;

    color-scheme: light dark;
}

/* ########## RESETS AND DEFAULTS ########## */

html {
    scrollbar-gutter: stable;
}

/* responsive media */
img,
picture,
svg,
video {
    display: block;
    margin-inline: auto;
    max-width: 100%;
}

p {
    max-width: var(--content-width);
    text-wrap: pretty;
}

/* ########## PICO ADJUSTMENTS ########## */

@media (min-width: 576px) {
    .container {
        max-width: min(510px, var(--content-width));
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: min(700px, var(--content-width));
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: min(950px, var(--content-width));
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: min(1200px, var(--content-width));
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: min(1450px, var(--content-width));
    }
}

article.page,
article.post,
article.post-details {
    background-color: transparent;
    box-shadow: none;

    & hgroup {
        background-color: transparent;
        box-shadow: none;
    }
}

/* ########## PAGE STRUCTURE ########## */

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid;
    border-image: linear-gradient(
            to right,
            var(--pico-color-pink-450) 0%,
            var(--pico-color-pink-450) 20%,
            var(--pico-color-jade-450) 20%,
            var(--pico-color-jade-450) 40%,
            var(--pico-color-azure-450) 40%,
            var(--pico-color-azure-450) 60%,
            var(--pico-color-orange-450) 60%,
            var(--pico-color-orange-450) 80%,
            var(--pico-color-purple-450) 80%,
            var(--pico-color-purple-450) 100%
        )
        1;
    border-image-slice: 1;
    padding-inline: var(--pico-block-spacing-horizontal);

    .logo {
        padding-block: 1rem;
    }

    svg {
        will-change: transform;
        transition: transform var(--pico-transition);
    }

    a:hover svg,
    a:focus-visible svg {
        transform: translate(0px, -2px);
    }
}

.page-nav {
    ul.icons {
        &::before {
            display: block;
            height: 1.125rem;
            margin-inline: var(--pico-nav-element-spacing-horizontal);
            border-left: var(--pico-border-width) solid
                var(--pico-form-element-border-color);
            content: "";
        }

        li {
            align-items: center;
            display: flex;
        }

        a {
            color: light-dark(
                var(--pico-color-violet-650),
                var(--pico-color-amber-250)
            );
        }

        svg {
            height: 24px;
        }
    }
}

.page-footer {
    border-top: 1px dotted var(--pico-muted-border-color);
    padding-inline: var(--pico-block-spacing-horizontal);

    .footer-nav {
        justify-content: center;
    }

    .copyright {
        color: var(--pico-muted-color);
        text-align: center;
    }
}

/* ########## POSTS LIST ########## */

.posts-filter {
    padding-block: var(--pico-block-spacing-vertical);
    text-align: center;
}

.posts-list .post-title a {
    text-decoration: none;
}

/* ########## POST ########## */

article.post blockquote p {
    margin: 0;
}

/* ########## CATEGORIES & TAGS ########## */

ul.tags {
    display: flex;
    gap: 0.25rem 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    > li {
        list-style: none;
    }
}

/* ########## ABOUT PAGE ########## */

.polaroid {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: var(--pico-card-box-shadow);
    font-size: var(--pico-font-size);
    margin-block-start: 1.5rem;
    margin-inline: auto;
    padding: 0.75rem;
    transform: rotate(-1deg);
    width: 80%;

    &::after {
        color: #2d3138;
        content: attr(data-caption);
        display: block;
        font-family: "Homemade Apple", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        margin-block: 1rem 0;
        text-align: center;
    }
}

.social-icons {
    justify-content: center;
    padding-block-start: 1.5rem;

    ul {
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
    }

    li {
        border: none !important;
        padding-block: 0.25rem 0;
    }

    svg {
        height: 60px;
    }
}

/* ########## SEARCH PAGE ########## */

.search {
    padding-block: 1.25rem 2rem;
}

.search-results .hidden {
    display: none;
}

/* ########## SOFTWARE PAGE ########## */

.support-buttons {
    display: flex;
    gap: 0.25rem;
    justify-content: space-evenly;
    margin-block: 1.5rem;

    svg {
        color: var(--pico-color-pink-450);
        will-change: transform;
        transition: transform var(--pico-transition);
    }

    a:hover svg,
    a:focus-visible svg {
        transform: translate(0px, -2px);
    }
}

/* ########## CUSTOM ELEMENTS ########## */

/* CUSTOM CALLOUTS */

.callout {
    --callout-background: light-dark(
        var(--pico-color-slate-50),
        var(--pico-color-slate-800)
    );
    --callout-border: light-dark(
        var(--pico-color-slate-300),
        var(--pico-color-slate-600)
    );
    --callout-color: light-dark(
        var(--pico-color-slate-800),
        var(--pico-color-slate-50)
    );

    background: var(--callout-background);
    border-left: 0.25rem solid var(--callout-border);
    font-weight: 500;
    margin-block: 2rem;
    padding: 1.25rem;

    P {
        color: var(--callout-color);
        margin: 0;
        padding: 0;
    }
}

.callout-positive {
    --callout-background: light-dark(
        var(--pico-color-jade-100),
        var(--pico-color-jade-800)
    );
    --callout-border: light-dark(
        var(--pico-color-jade-300),
        var(--pico-color-jade-600)
    );
    --callout-color: light-dark(var(--pico-color-jade-800), var(--pico-color-jade-100));
}

.callout-warning {
    --callout-background: light-dark(
        var(--pico-color-amber-100),
        var(--pico-color-amber-800)
    );
    --callout-border: light-dark(
        var(--pico-color-amber-300),
        var(--pico-color-amber-600)
    );
    --callout-color: light-dark(
        var(--pico-color-amber-800),
        var(--pico-color-amber-100)
    );
}

.callout-negative {
    --callout-background: light-dark(
        var(--pico-color-red-100),
        var(--pico-color-red-800)
    );
    --callout-border: light-dark(var(--pico-color-red-300), var(--pico-color-red-600));
    --callout-color: light-dark(var(--pico-color-red-800), var(--pico-color-red-100));
}

/* CODE COPY BUTTON */

.codehilite {
    position: relative;

    .copy-to-clipboard {
        background-color: var(--pico-code-background-color);
        padding: 0.25rem 1rem 0.25rem 0.25rem;
        position: absolute;
        right: 0;
        top: 0.75rem;
        z-index: 1;
    }

    .copy-to-clipboard svg {
        will-change: transform;
        transition: transform var(--pico-transition);
    }

    .copy-to-clipboard:hover svg,
    .copy-to-clipboard:focus-visible svg {
        transform: translate(0, -1px);
    }

    svg.check {
        color: var(--pico-color-green-300);
    }
}
