:root {
  --content-width: 72rem;

  --color-body-color: hsl(212, 11%, 15%);
  --color-body-bg: hsl(0, 0%, 100%);

  --color-secondary-color: hsl(202, 3%, 36%);
  --color-secondary-bg: hsl(208, 18%, 92%);

  --color-tertiary-color: hsl(198, 2%, 57%);
  --color-tertiary-bg: hsl(208, 19%, 98%);

  --color-emphasis-color: hsl(0, 0%, 0%);

  --color-border-color: hsl(212, 14%, 89%);

  --color-primary: hsl(216, 98%, 52%);
  --color-primary-bg-subtle: hsl(218, 99%, 91%);
  --color-primary-border-subtle: hsl(216, 98%, 81%);
  --color-primary-text: hsl(216, 89%, 42%);

  --color-success: hsl(152, 67%, 32%);
  --color-success-bg-subtle: hsl(155, 31%, 86%);
  --color-success-border-subtle: hsl(152, 32%, 73%);
  --color-success-text: hsl(152, 70%, 25%);

  --color-danger: hsl(354, 71%, 54%);
  --color-danger-bg-subtle: hsl(355, 72%, 91%);
  --color-danger-border-subtle: hsl(354, 70%, 81%);
  --color-danger-text: hsl(354, 61%, 43%);

  --color-warning: hsl(45, 100%, 52%);
  --color-warning-bg-subtle: hsl(46, 100%, 90%);
  --color-warning-border-subtle: hsl(45, 100%, 81%);
  --color-warning-text: hsl(45, 93%, 31%);

  --color-info: hsl(190, 90%, 50%);
  --color-info-bg-subtle: hsl(191, 89%, 90%);
  --color-info-border-subtle: hsl(190, 89%, 80%);
  --color-info-text: hsl(190, 87%, 30%);

  --color-light: hsl(208, 19%, 98%);
  --color-light-bg-subtle: hsl(241, 23%, 99%);
  --color-light-border-subtle: hsl(210, 45%, 47%);
  --color-light-text: hsl(208, 7%, 46%);

  --color-dark: hsl(212, 11%, 15%);
  --color-dark-bg-subtle: hsl(208, 14%, 83%);
  --color-dark-border-subtle: hsl(208, 11%, 71%);
  --color-dark-text: hsl(208, 9%, 31%);

  --color-heading-color: var(--color-body-color);
  --color-mark-bg: hsl(46, 100%, 90%);

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family--mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;

  --font-size--base: 12px;
  --font-size--x-small: 1rem;
  --font-size--small: 1.2rem;
  --font-size--medium: 1.4rem;
  --font-size--large: 1.6rem;
  --font-size--x-large: 2rem;
  --font-size--xx-large: 3rem;

  --line-height--x-small: 1;
  --line-height--small: 1.125;
  --line-height--medium: 1.25;
  --line-height--large: 1.5;
  --line-height--x-large: 1.75;
  --line-height---xx-large: 2;

  --spacing--xx-small: 0.125rem;
  --spacing--x-small: 0.25rem;
  --spacing--small: 0.75rem;
  --spacing--medium: 1.25rem;
  --spacing--large: 1.75rem;
  --spacing--x-large: 2.25rem;
  --spacing--xx-large: 2.75rem;
  --spacing--xxx-large: 3.25rem;
}

[data-theme="dark"] {
  --color-body-color: hsl(208, 11%, 71%);
  --color-body-bg: hsl(212, 11%, 15%);
  --color-heading-color: #fff;

  --color-secondary-color: hsl(217, 6%, 57%);
  --color-secondary-bg: hsl(208, 10%, 23%);

  --color-tertiary-color: hsl(211, 6%, 43%);
  --color-tertiary-bg: hsl(208, 10%, 19%);

  --color-emphasis-color: hsl(0, 0%, 100%);

  --color-border-color: hsl(208, 9%, 31%);

  --color-primary-bg-subtle: hsl(215, 90%, 11%);
  --color-primary-border-subtle: hsl(216, 91%, 31%);
  --color-primary-text: hsl(216, 98%, 72%);

  --color-success-bg-subtle: hsl(152, 67%, 6%);
  --color-success-border-subtle: hsl(152, 70%, 19%);
  --color-success-text: hsl(152, 31%, 59%);

  --color-danger-bg-subtle: hsl(354, 60%, 11%);
  --color-danger-border-subtle: hsl(354, 61%, 32%);
  --color-danger-text: hsl(354, 70%, 72%);

  --color-warning-bg-subtle: hsl(45, 94%, 10%);
  --color-warning-border-subtle: hsl(45, 94%, 21%);
  --color-warning-text: hsl(45, 100%, 71%);

  --color-info-bg-subtle: hsl(191, 88%, 10%);
  --color-info-border-subtle: hsl(190, 88%, 20%);
  --color-info-text: hsl(191, 89%, 70%);

  --color-light-bg-subtle: hsl(208, 10%, 23%);
  --color-light-border-subtle: hsl(208, 9%, 31%);
  --color-light-text: hsl(208, 19%, 98%);

  --color-dark-bg-subtle: hsl(214, 10%, 12%);
  --color-dark-border-subtle: hsl(208, 10%, 23%);
  --color-dark-text: hsl(212, 14%, 89%);
}

@media (min-width: 60rem) {
  :root {
    --font-size--x-small: 1.2rem;
    --font-size--small: 1.4rem;
    --font-size--medium: 1.6rem;
    --font-size--large: 1.8rem;
    --font-size--x-large: 2.2rem;
    --font-size--xx-large: 3.2rem;

    --spacing--x-small: 0.5rem;
    --spacing--small: 1rem;
    --spacing--medium: 1.5rem;
    --spacing--large: 2rem;
    --spacing--x-large: 2.5rem;
    --spacing--xx-large: 3rem;
    --spacing--xxx-large: 3.5rem;
  }
}

/* ########## CSS RESET ########## */
/* https://gist.github.com/Asjas/4d84111064a02e2de60efdf3a73c1296 */

/* Box sizing rules */
html {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Percentage based heights */
html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  line-height: var(--line-height--large);
  -webkit-font-smoothing: antialiased;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Make images, videos and icons easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

/* More sensible line-wrapping */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* React Framework Specific */
#root,
#__next {
  isolation: isolate;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ########## PAGE STYLING ########## */

html {
  background: var(--color-body-bg);
  color: var(--color-body-color);
  font-family: var(--font-family);
  font-size: var(--font-size--base);
  text-rendering: optimizeLegibility;
}

body {
  font-size: var(--font-size--medium);
}

main {
  margin: 0 auto;
  max-width: var(--content-width);
  padding: var(--spacing--medium);
  width: 100%;
}

/* ########## ELEMENT STYLING ########## */

header {
  padding: var(--spacing--small) 0;
  text-align: center;
}

logo {
  display: inline-block;
  margin-top: var(--spacing--large);
  transition: transform 0.5s;
}

logo .strokeTypeRound {
  fill: none;
  stroke: currentColor;
  stroke-width: 4.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 333.3333;
}

logo .strokeTypeCorner {
  fill: none;
  stroke: currentColor;
  stroke-width: 4.5;
  stroke-miterlimit: 333.3333;
}

logo a {
  color: var(--color-primary);
}

logo:hover {
  transform: scale(1.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading-color);
  font-weight: 700;
  line-height: var(--line-height--small);
  padding-bottom: var(--spacing--small);
  padding-top: var(--spacing--xx-large);
}

h1 {
  font-size: var(--font-size--xx-large);
}

h2 {
  font-size: var(--font-size--x-large);
}

h3 {
  font-size: var(--font-size--large);
}

h4 {
  font-size: var(--font-size--medium);
}

h5 {
  font-size: var(--font-size--small);
}

h6 {
  font-size: var(--font-size--x-small);
}

p {
  margin: var(--spacing--small) 0;
}

a {
  color: var(--color-primary-text);
  font-weight: 600;
}

a.secondary {
  color: var(--color-secondary-color);
}

a.tertiary {
  color: var(--color-tertiary-color);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: 700 !important;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: var(--spacing--large) 0;
}

li {
  list-style-position: inside;
}

li > ul,
li > ol {
  margin: 0 0 0 var(--spacing--x-large);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-border-color);
  margin: var(--spacing--x-large) 0;
}

blockquote {
  border-inline-start: 1px solid var(--color-border-color);
  padding-block: 0;
  padding-inline-end: 0;
  padding-inline-start: var(--spacing--medium);
}

pre {
  font-family: var(--font-family--mono);
  font-size: var(--font-size--small);
  line-height: var(--line-height--large);
  margin: var(--spacing--large) 0;
  overflow-wrap: normal;
  overflow: auto;
  padding: var(--spacing--medium);
}

mark {
  background: var(--color-mark-bg);
  padding: var(--spacing--xx-small);
}

kbd {
  background: var(--color-body-color);
  color: var(--color-body-bg);
  border-radius: var(--spacing--x-small);
  font-family: var(--font-family--mono);
  font-size: var(--font-size--small);
  font-weight: 600;
  padding: var(--spacing--xx-small) var(--spacing--x-small);
}

del,
ins {
  border-radius: var(--spacing--small);
  font-weight: 600;
}

del {
  color: var(--color-negative);
}

ins {
  color: var(--color-positive);
  text-decoration: none;
}

input {
  background-color: transparent;
  border: 2px solid var(--color-border-color);
  border-radius: var(--spacing--x-small);
  color: var(--color-body-color);
}

input#search {
  font-size: var(--font-size--x-large);
  margin-top: var(--spacing--xx-large);
  padding: var(--spacing--small);
  text-align: center;
  width: 80%;
}

figure {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: var(--spacing--large) 0;
  text-indent: 0;
  width: 100%;
}

thead th {
  border-bottom: 3px solid var(--color-border-color);
}

td,
th {
  padding: var(--spacing--small);
  text-align: start;
}

table tbody tr:nth-child(odd) {
  background: var(--color-light-bg-subtle);
}

/* ########## THEME TOGGLE STYLING ########## */

.toggle-theme {
  background: transparent;
  background-image: none;
  border: 0;
  color: var(--color-warning);
  cursor: pointer;
  position: absolute;
  left: var(--spacing--large);
  top: var(--spacing--large);
  transition: all 0.3s ease-in-out;
  padding-top: 0.25em;
}

.toggle-theme .sun {
  display: none;
}

[data-theme="dark"] .toggle-theme .moon {
  display: none;
}

[data-theme="dark"] .toggle-theme .sun {
  display: block;
}

/* ########## NAVIGATION STYLING ########## */

header input#toggle-nav {
  display: none;
}

#hamburger {
  position: absolute;
  right: var(--spacing--large);
  top: var(--spacing--large);
  z-index: 1;
}

#icon-hamburger {
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav {
  background: var(--color-primary);
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: -100%;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-top: var(--spacing--xxx-large);
}

nav ul li {
  padding-bottom: var(--spacing--medium);
}

nav ul li a[aria-current="page"] {
  color: #fff;
  /* text-decoration: underline wavy var(--color-warning) 0.25rem; */
  /* text-underline-offset: var(--spacing--x-small); */
  text-decoration-color: var(--color-warning);
  text-decoration-line: underline;
  text-decoration-thickness: 0.25rem;
  text-decoration-style: wavy;
  text-underline-offset: var(--spacing--x-small);
}

nav a {
  color: #fff;
  font-size: var(--font-size--xx-large);
  font-weight: 900;
  text-decoration: none;
}

nav a:hover {
  /* text-decoration: underline wavy var(--color-warning) 0.25rem; */
  /* text-underline-offset: var(--spacing--x-small); */
  text-decoration-color: var(--color-warning);
  text-decoration-line: underline;
  text-decoration-thickness: 0.25rem;
  text-decoration-style: wavy;
  text-underline-offset: var(--spacing--x-small);
}

input#toggle-nav:checked + #hamburger * {
  color: #fff;
}

input#toggle-nav:checked + #hamburger + nav {
  top: 0;
  transform: scale(1);
}

/* ########## MAIN STYLING ########## */

main img {
  justify-content: center;
  margin: var(--spacing--large) auto;
}

main ul#posts {
  list-style: none;
  margin: 0;
}

main ul#posts h2 {
  font-size: var(--font-size--xx-large);
  list-style: none;
  margin: 0;
}

main ul#posts li a {
  color: var(--color-txt);
}

main ul#posts li:not(:first-child) {
  border: 0;
  border-top: 1px solid var(--color-border);
  margin-top: var(--spacing--xxx-large);
}

.callout {
  background: var(--color-info-bg-subtle);
  border-left: var(--spacing--x-small) solid var(--color-info-border-subtle);
  color: var(--color-info-text);
  font-weight: 500;
  margin: var(--spacing--large) 0;
  padding: var(--spacing--large);
}

.callout-positive {
  background: var(--color-success-bg-subtle);
  border-color: var(--color-success-border-subtle);
  color: var(--color-success-text);
}

.callout-warning {
  background: var(--color-warning-bg-subtle);
  border-color: var(--color-warning-border-subtle);
  color: var(--color-warning-text);
}

.callout-negative {
  background: var(--color-danger-bg-subtle);
  border-color: var(--color-danger-border-subtle);
  color: var(--color-danger-text);
}

.callout p {
  margin: 0;
  padding: 0;
}

@keyframes pulse {
  25% {
    transform: scale(0.95);
  }

  75% {
    transform: scale(1);
  }
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}

.btn {
  background: var(--color-primary);
  border-radius: var(--spacing--small);
  color: #fff;
  display: flex;
  font-size: var(--font-size--large);
  font-weight: 700;
  gap: 3rem;
  justify-content: center;
  padding: var(--spacing--small) var(--spacing--medium);
  text-decoration: none;
}

.btn:hover {
  background: var(--color-primary-text);
}

.btn-secondary {
  background: var(--color-tertiary-color);
}

.btn-secondary:hover {
  background: var(--color-secondary-color);
}

.btn-success {
  background: var(--color-success);
}

.btn-success:hover {
  background: var(--color-success-text);
}

.btn-warning {
  background: var(--color-warning);
}

.btn-warning:hover {
  background: var(--color-warning-text);
}

.btn-danger {
  background: var(--color-danger);
}

.btn-danger:hover {
  background: var(--color-danger-text);
}

.btn-info {
  background: var(--color-info);
}

.btn-info:hover {
  background: var(--color-info-text);
}

.search-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-search {
  width: 100%;
}

/* ########## FOOTER STYLING ########## */

footer {
  align-items: center;
  border-top: 1px solid var(--color-border);
  margin: var(--spacing--large) auto 0 auto;
  max-width: var(--content-width);
  padding: var(--spacing--large) var(--spacing--small);
  width: 100%;
  text-align: center;
}

footer li {
  display: inline-block;
  padding: var(--spacing--small);
}

/* ########## UTILITY CLASSES ########## */

.hide {
  display: none;
}

.bold {
  font-weight: 700 !important;
}

.bolder {
  font-weight: 900 !important;
}

.center {
  align-items: center !important;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing--large);
  justify-content: center;
  /* margin: var(--spacing--large) 0; */
  place-items: center;
}

.grid {
  display: grid;
  grid-column-gap: var(--spacing--medium);
  grid-row-gap: var(--spacing--medium);
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--content-width) / 4), 1fr));
  margin: var(--spacing--large) 0;
}

.list-inline {
  display: inline !important;
}

/* MARGIN */

.m-0 {
  margin: 0 !important;
}

.m-xs {
  margin: var(--spacing--x-small) !important;
}

.m-s {
  margin: var(--spacing--small) !important;
}

.m-m {
  margin: var(--spacing--medium) !important;
}

.m-l {
  margin: var(--spacing--large) !important;
}

.m-xl {
  margin: var(--spacing--x-large) !important;
}

.m-xxl {
  margin: var(--spacing--xx-large) !important;
}

.m-xxxl {
  margin: var(--spacing--xxx-large) !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-xs {
  margin-top: var(--spacing--x-small) !important;
}

.mt-s {
  margin-top: var(--spacing--small) !important;
}

.mt-m {
  margin-top: var(--spacing--medium) !important;
}

.mt-l {
  margin-top: var(--spacing--large) !important;
}

.mt-xl {
  margin-top: var(--spacing--x-large) !important;
}

.mt-xxl {
  margin-top: var(--spacing--xx-large) !important;
}

.mt-xxxl {
  margin-top: var(--spacing--xxx-large) !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-xs {
  margin-bottom: var(--spacing--x-small) !important;
}

.mb-s {
  margin-bottom: var(--spacing--small) !important;
}

.mb-m {
  margin-bottom: var(--spacing--medium) !important;
}

.mb-l {
  margin-bottom: var(--spacing--large) !important;
}

.mb-xl {
  margin-bottom: var(--spacing--x-large) !important;
}

.mb-xxl {
  margin-bottom: var(--spacing--xx-large) !important;
}

.mb-xxxl {
  margin-bottom: var(--spacing--xxx-large) !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-xs {
  margin-left: var(--spacing--x-small) !important;
}

.ml-s {
  margin-left: var(--spacing--small) !important;
}

.ml-m {
  margin-left: var(--spacing--medium) !important;
}

.ml-l {
  margin-left: var(--spacing--large) !important;
}

.ml-xl {
  margin-left: var(--spacing--x-large) !important;
}

.ml-xxl {
  margin-left: var(--spacing--xx-large) !important;
}

.ml-xxxl {
  margin-left: var(--spacing--xxx-large) !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-xs {
  margin-right: var(--spacing--x-small) !important;
}

.mr-s {
  margin-right: var(--spacing--small) !important;
}

.mr-m {
  margin-right: var(--spacing--medium) !important;
}

.mr-l {
  margin-right: var(--spacing--large) !important;
}

.mr-xl {
  margin-right: var(--spacing--x-large) !important;
}

.mr-xxl {
  margin-right: var(--spacing--xx-large) !important;
}

.mr-xxxl {
  margin-right: var(--spacing--xxx-large) !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-xs {
  margin-left: var(--spacing--x-small) !important;
  margin-right: var(--spacing--x-small) !important;
}

.mx-s {
  margin-left: var(--spacing--small) !important;
  margin-right: var(--spacing--small) !important;
}

.mx-m {
  margin-left: var(--spacing--medium) !important;
  margin-right: var(--spacing--medium) !important;
}

.mx-l {
  margin-left: var(--spacing--large) !important;
  margin-right: var(--spacing--large) !important;
}

.mx-xl {
  margin-left: var(--spacing--x-large) !important;
  margin-right: var(--spacing--x-large) !important;
}

.mx-xxl {
  margin-left: var(--spacing--xx-large) !important;
  margin-right: var(--spacing--xx-large) !important;
}

.mx-xxxl {
  margin-left: var(--spacing--xxx-large) !important;
  margin-right: var(--spacing--xxx-large) !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-xs {
  margin-top: var(--spacing--x-small) !important;
  margin-bottom: var(--spacing--x-small) !important;
}

.my-s {
  margin-top: var(--spacing--small) !important;
  margin-bottom: var(--spacing--small) !important;
}

.my-m {
  margin-top: var(--spacing--medium) !important;
  margin-bottom: var(--spacing--medium) !important;
}

.my-l {
  margin-top: var(--spacing--large) !important;
  margin-bottom: var(--spacing--large) !important;
}

.my-xl {
  margin-top: var(--spacing--x-large) !important;
  margin-bottom: var(--spacing--x-large) !important;
}

.my-xxl {
  margin-top: var(--spacing--xx-large) !important;
  margin-bottom: var(--spacing--xx-large) !important;
}

.my-xxxl {
  margin-top: var(--spacing--xxx-large) !important;
  margin-bottom: var(--spacing--xxx-large) !important;
}

/* PADDING */

.p-0 {
  padding: 0 !important;
}

.p-xs {
  padding: var(--spacing--x-small) !important;
}

.p-s {
  padding: var(--spacing--small) !important;
}

.p-m {
  padding: var(--spacing--medium) !important;
}

.p-l {
  padding: var(--spacing--large) !important;
}

.p-xl {
  padding: var(--spacing--x-large) !important;
}

.p-xxl {
  padding: var(--spacing--xx-large) !important;
}

.p-xxxl {
  padding: var(--spacing--xxx-large) !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-xs {
  padding-top: var(--spacing--x-small) !important;
}

.pt-s {
  padding-top: var(--spacing--small) !important;
}

.pt-m {
  padding-top: var(--spacing--medium) !important;
}

.pt-l {
  padding-top: var(--spacing--large) !important;
}

.pt-xl {
  padding-top: var(--spacing--x-large) !important;
}

.pt-xxl {
  padding-top: var(--spacing--xx-large) !important;
}

.pt-xxxl {
  padding-top: var(--spacing--xxx-large) !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-xs {
  padding-bottom: var(--spacing--x-small) !important;
}

.pb-s {
  padding-bottom: var(--spacing--small) !important;
}

.pb-m {
  padding-bottom: var(--spacing--medium) !important;
}

.pb-l {
  padding-bottom: var(--spacing--large) !important;
}

.pb-xl {
  padding-bottom: var(--spacing--x-large) !important;
}

.pb-xxl {
  padding-bottom: var(--spacing--xx-large) !important;
}

.pb-xxxl {
  padding-bottom: var(--spacing--xxx-large) !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-xs {
  padding-left: var(--spacing--x-small) !important;
}

.pl-s {
  padding-left: var(--spacing--small) !important;
}

.pl-m {
  padding-left: var(--spacing--medium) !important;
}

.pl-l {
  padding-left: var(--spacing--large) !important;
}

.pl-xl {
  padding-left: var(--spacing--x-large) !important;
}

.pl-xxl {
  padding-left: var(--spacing--xx-large) !important;
}

.pl-xxxl {
  padding-left: var(--spacing--xxx-large) !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-xs {
  padding-right: var(--spacing--x-small) !important;
}

.pr-s {
  padding-right: var(--spacing--small) !important;
}

.pr-m {
  padding-right: var(--spacing--medium) !important;
}

.pr-l {
  padding-right: var(--spacing--large) !important;
}

.pr-xl {
  padding-right: var(--spacing--x-large) !important;
}

.pr-xxl {
  padding-right: var(--spacing--xx-large) !important;
}

.pr-xxxl {
  padding-right: var(--spacing--xxx-large) !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-xs {
  padding-left: var(--spacing--x-small) !important;
  padding-right: var(--spacing--x-small) !important;
}

.px-s {
  padding-left: var(--spacing--small) !important;
  padding-right: var(--spacing--small) !important;
}

.px-m {
  padding-left: var(--spacing--medium) !important;
  padding-right: var(--spacing--medium) !important;
}

.px-l {
  padding-left: var(--spacing--large) !important;
  padding-right: var(--spacing--large) !important;
}

.px-xl {
  padding-left: var(--spacing--x-large) !important;
  padding-right: var(--spacing--x-large) !important;
}

.px-xxl {
  padding-left: var(--spacing--xx-large) !important;
  padding-right: var(--spacing--xx-large) !important;
}

.px-xxxl {
  padding-left: var(--spacing--xxx-large) !important;
  padding-right: var(--spacing--xxx-large) !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-xs {
  padding-top: var(--spacing--x-small) !important;
  padding-bottom: var(--spacing--x-small) !important;
}

.py-s {
  padding-top: var(--spacing--small) !important;
  padding-bottom: var(--spacing--small) !important;
}

.py-m {
  padding-top: var(--spacing--medium) !important;
  padding-bottom: var(--spacing--medium) !important;
}

.py-l {
  padding-top: var(--spacing--large) !important;
  padding-bottom: var(--spacing--large) !important;
}

.py-xl {
  padding-top: var(--spacing--x-large) !important;
  padding-bottom: var(--spacing--x-large) !important;
}

.py-xxl {
  padding-top: var(--spacing--xx-large) !important;
  padding-bottom: var(--spacing--xx-large) !important;
}

.py-xxxl {
  padding-top: var(--spacing--xxx-large) !important;
  padding-bottom: var(--spacing--xxx-large) !important;
}

.table {
  overflow-x: auto;
}

.text-align-center {
  text-align: center !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.width-100 {
  width: 100%;
}

/* ########## RESPONSIVE VIDEO WRAPPER ########## */
/* https://css-tricks.com/fluid-width-video/ */

.video-wrapper {
  height: 0;
  margin: var(--spacing--large) 0;
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
  position: relative;
}

.video-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media print {
  main {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  header#page-header {
    display: none;
  }

  footer {
    border: none;
    padding: 0;
  }

  h1#post-title {
    padding-top: 0;
  }

  .codehilite {
    background: #fff;
  }

  pre {
    border: 1px solid #000;
    white-space: pre-wrap;
  }

  pre span {
    color: #000 !important;
  }
}

/* ########## CODEHILITE - DRACULA ########## */

/* pre { line-height: 125%; } */
td.linenos .normal {
  color: #f1fa8c;
  background-color: #44475a;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos {
  color: #f1fa8c;
  background-color: #44475a;
  padding-left: 5px;
  padding-right: 5px;
}
td.linenos .special {
  color: #50fa7b;
  background-color: #6272a4;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos.special {
  color: #50fa7b;
  background-color: #6272a4;
  padding-left: 5px;
  padding-right: 5px;
}
.codehilite .hll {
  background-color: #44475a;
}
.codehilite {
  background: #282a36;
  color: #f8f8f2;
}
.codehilite .c {
  color: #6272a4;
} /* Comment */
.codehilite .err {
  color: #f8f8f2;
} /* Error */
.codehilite .g {
  color: #f8f8f2;
} /* Generic */
.codehilite .k {
  color: #ff79c6;
} /* Keyword */
.codehilite .l {
  color: #f8f8f2;
} /* Literal */
.codehilite .n {
  color: #f8f8f2;
} /* Name */
.codehilite .o {
  color: #ff79c6;
} /* Operator */
.codehilite .x {
  color: #f8f8f2;
} /* Other */
.codehilite .p {
  color: #f8f8f2;
} /* Punctuation */
.codehilite .ch {
  color: #6272a4;
} /* Comment.Hashbang */
.codehilite .cm {
  color: #6272a4;
} /* Comment.Multiline */
.codehilite .cp {
  color: #ff79c6;
} /* Comment.Preproc */
.codehilite .cpf {
  color: #6272a4;
} /* Comment.PreprocFile */
.codehilite .c1 {
  color: #6272a4;
} /* Comment.Single */
.codehilite .cs {
  color: #6272a4;
} /* Comment.Special */
.codehilite .gd {
  color: #8b080b;
} /* Generic.Deleted */
.codehilite .ge {
  color: #f8f8f2;
  text-decoration: underline;
} /* Generic.Emph */
.codehilite .gr {
  color: #f8f8f2;
} /* Generic.Error */
.codehilite .gh {
  color: #f8f8f2;
  font-weight: bold;
} /* Generic.Heading */
.codehilite .gi {
  color: #f8f8f2;
  font-weight: bold;
} /* Generic.Inserted */
.codehilite .go {
  color: #6272a4;
} /* Generic.Output */
.codehilite .gp {
  color: #f8f8f2;
} /* Generic.Prompt */
.codehilite .gs {
  color: #f8f8f2;
} /* Generic.Strong */
.codehilite .gu {
  color: #f8f8f2;
  font-weight: bold;
} /* Generic.Subheading */
.codehilite .gt {
  color: #f8f8f2;
} /* Generic.Traceback */
.codehilite .kc {
  color: #ff79c6;
} /* Keyword.Constant */
.codehilite .kd {
  color: #8be9fd;
  font-style: italic;
} /* Keyword.Declaration */
.codehilite .kn {
  color: #ff79c6;
} /* Keyword.Namespace */
.codehilite .kp {
  color: #ff79c6;
} /* Keyword.Pseudo */
.codehilite .kr {
  color: #ff79c6;
} /* Keyword.Reserved */
.codehilite .kt {
  color: #8be9fd;
} /* Keyword.Type */
.codehilite .ld {
  color: #f8f8f2;
} /* Literal.Date */
.codehilite .m {
  color: #ffb86c;
} /* Literal.Number */
.codehilite .s {
  color: #bd93f9;
} /* Literal.String */
.codehilite .na {
  color: #50fa7b;
} /* Name.Attribute */
.codehilite .nb {
  color: #8be9fd;
  font-style: italic;
} /* Name.Builtin */
.codehilite .nc {
  color: #50fa7b;
} /* Name.Class */
.codehilite .no {
  color: #f8f8f2;
} /* Name.Constant */
.codehilite .nd {
  color: #f8f8f2;
} /* Name.Decorator */
.codehilite .ni {
  color: #f8f8f2;
} /* Name.Entity */
.codehilite .ne {
  color: #f8f8f2;
} /* Name.Exception */
.codehilite .nf {
  color: #50fa7b;
} /* Name.Function */
.codehilite .nl {
  color: #8be9fd;
  font-style: italic;
} /* Name.Label */
.codehilite .nn {
  color: #f8f8f2;
} /* Name.Namespace */
.codehilite .nx {
  color: #f8f8f2;
} /* Name.Other */
.codehilite .py {
  color: #f8f8f2;
} /* Name.Property */
.codehilite .nt {
  color: #ff79c6;
} /* Name.Tag */
.codehilite .nv {
  color: #8be9fd;
  font-style: italic;
} /* Name.Variable */
.codehilite .ow {
  color: #ff79c6;
} /* Operator.Word */
.codehilite .w {
  color: #f8f8f2;
} /* Text.Whitespace */
.codehilite .mb {
  color: #ffb86c;
} /* Literal.Number.Bin */
.codehilite .mf {
  color: #ffb86c;
} /* Literal.Number.Float */
.codehilite .mh {
  color: #ffb86c;
} /* Literal.Number.Hex */
.codehilite .mi {
  color: #ffb86c;
} /* Literal.Number.Integer */
.codehilite .mo {
  color: #ffb86c;
} /* Literal.Number.Oct */
.codehilite .sa {
  color: #bd93f9;
} /* Literal.String.Affix */
.codehilite .sb {
  color: #bd93f9;
} /* Literal.String.Backtick */
.codehilite .sc {
  color: #bd93f9;
} /* Literal.String.Char */
.codehilite .dl {
  color: #bd93f9;
} /* Literal.String.Delimiter */
.codehilite .sd {
  color: #bd93f9;
} /* Literal.String.Doc */
.codehilite .s2 {
  color: #bd93f9;
} /* Literal.String.Double */
.codehilite .se {
  color: #bd93f9;
} /* Literal.String.Escape */
.codehilite .sh {
  color: #bd93f9;
} /* Literal.String.Heredoc */
.codehilite .si {
  color: #bd93f9;
} /* Literal.String.Interpol */
.codehilite .sx {
  color: #bd93f9;
} /* Literal.String.Other */
.codehilite .sr {
  color: #bd93f9;
} /* Literal.String.Regex */
.codehilite .s1 {
  color: #bd93f9;
} /* Literal.String.Single */
.codehilite .ss {
  color: #bd93f9;
} /* Literal.String.Symbol */
.codehilite .bp {
  color: #f8f8f2;
  font-style: italic;
} /* Name.Builtin.Pseudo */
.codehilite .fm {
  color: #50fa7b;
} /* Name.Function.Magic */
.codehilite .vc {
  color: #8be9fd;
  font-style: italic;
} /* Name.Variable.Class */
.codehilite .vg {
  color: #8be9fd;
  font-style: italic;
} /* Name.Variable.Global */
.codehilite .vi {
  color: #8be9fd;
  font-style: italic;
} /* Name.Variable.Instance */
.codehilite .vm {
  color: #8be9fd;
  font-style: italic;
} /* Name.Variable.Magic */
.codehilite .il {
  color: #ffb86c;
} /* Literal.Number.Integer.Long */
