:root {
  --clr-primary: #007bff;
  --clr-primary-hover: #0069d9;
  --clr-neutral: #fff;
  --clr-dark: #333;
  --clr-grey-lt: #e8e8e8;

  --ff-primary: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande" !important;
  --ff-accent: Futura, Trebuchet MS, Arial Black, Arial Bold, Arial, sans-serif;
  --ff-code: "Lucida Console", Monaco, monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 1.25rem;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

header,
footer {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

section {
  margin: 0;
  padding: 1rem 0;
}

.container {
  margin: 0 auto;
  width: min(85%, 45rem);
}

/* ########## ELEMENT STYLING ########## */

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1.25;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin: 1rem 0;
}

a {
  color: var(--clr-primary);
}

a:hover {
  color: var(--clr-primary-hover);
}

img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

li {
  list-style-position: inside;
}

li > ul,
li > ol {
  margin-left: 1.5rem;
}

hr {
  border: 0;
  border-bottom: 2px solid var(--clr-grey-lt);
  background: var(--clr-neutral);
  margin-top: 2.5rem;
}

blockquote {
  border-left: solid 6px var(--clr-primary);
  font-style: italic;
  margin: 2.5rem 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

pre {
  font-family: var(--ff-code);
  font-size: 1rem;
  line-height: 1.5;
  margin: 2rem 0;
  overflow-wrap: normal;
  overflow: auto;
  padding: 1rem;
}

/* ########## NAVIGATION ########## */

header #toggle {
  display: none;
}

#hamburger {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  z-index: 9999;
}

#hamburger div {
  background-color: var(--clr-primary);
  border-radius: 3px;
  height: 6px;
  margin-top: 8px;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 2em;
}

nav {
  background: var(--clr-primary);
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: -100%;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 9998;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 2rem 0 0 0;
}

nav a {
  color: var(--clr-neutral);
  font-family: var(--ff-accent);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.25;
  text-decoration: none;
}

nav a:hover {
  color: var(--clr-neutral);
  text-decoration: underline;
}

nav li.dev a {
  opacity: 75%;
}

#toggle:checked + #hamburger #top-bun {
  background-color: var(--clr-neutral);
  margin-top: 25px;
  transform: rotate(-45deg);
}
#toggle:checked + #hamburger #bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + #hamburger #meat {
  background-color: var(--clr-neutral);
  margin-top: -7px;
  transform: rotate(45deg);
}

#toggle:checked + #hamburger + nav {
  top: 0;
  transform: scale(1);
}

/* ########## FOOTER ########## */

footer ul {
  list-style: none;
  margin: 0;
  padding: 0 0 2rem 0;
}

footer li {
  display: inline-block;
  padding: 0 0.5rem 0 0.5rem;
}

/* ########## OBJECTS ########## */

.draft {
  color: red;
  font-family: var(--ff-accent);
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.25;
  text-align: center;
}

#post-meta {
  font-size: 0.875rem;
  padding: 0.5rem 0;
}

logo img {
  display: inline-block;
  margin: 1.5rem 0 0 0;
}

.container img {
  display: block;
  justify-content: center;
  margin: 2rem auto;
  max-width: 100%;
}

/* .alert {
  background-color: #fff3cd;
  border-radius: 0.5rem;
  border: 1px solid #ffecb5;
  color: #664d03;
  padding: 1rem;
} */

.callout {
  border-left: 8px solid transparent;
  color: #856404;
  background-color: #fff3cd;
  border-color: #fde396;
  padding: 0.5rem 1.5rem;
}

.callout-success {
  background-color: #d4edda;
  border-color: #83b98f;
  color: #155724;
}

.callout-danger {
  background-color: #f8d7da;
  border-color: #cc7981;
  color: #721c24;
}

#tags {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#tags li {
  display: inline-block;
}

button {
  background-color: var(--clr-primary);
  border-radius: 0.5rem;
  border: none;
  color: var(--clr-neutral);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
  line-height: 2rem;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
}

button:hover {
  background-color: var(--clr-primary-hover);
  color: var(--clr-neutral);
}

.form-control {
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
}

/* ########## UTILITY ########## */

.text-align-center {
  text-align: center !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

/* ########## RESPONSIVE VIDEO WRAPPER ########## */
/* https://css-tricks.com/fluid-width-video/ */

.video-wrapper {
  height: 0;
  margin-bottom: 1.5rem;
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
  position: relative;
}

.video-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
