:root {
  --content-width: 72rem;

  --hsl-almost-black: 0, 0%, 20%;
  --hsl-almost-white: 30, 14%, 91%;
  --hsl-black: 0, 0%, 0%;
  --hsl-blue: 196, 100%, 78%;
  --hsl-green: 148, 73%, 48%;
  --hsl-grey: 240, 5%, 48%;
  --hsl-mint: 166, 92%, 51%;
  --hsl-off-white: 40, 100%, 97%;
  --hsl-orange: 25, 94%, 69%;
  --hsl-purple: 247, 79%, 66%;
  --hsl-red: 4, 92%, 63%;
  --hsl-turquoise: 181, 76%, 71%;
  --hsl-violet: 289, 100%, 81%;
  --hsl-white: 0, 0%, 100%;
  --hsl-yellow: 46, 100%, 78%;

  --hsl-background: var(--hsl-white);
  --hsl-ink: var(--hsl-almost-black);
  --hsl-primary: var(--hsl-purple);
  --hsl-secondary: var(--hsl-mint);

  --color-almost-black: hsl(var(--hsl-almost-black));
  --color-almost-white: hsl(var(--hsl-almost-white));
  --color-black: hsl(var(--hsl-black));
  --color-contrast: hsl(var(--hsl-black));
  --color-disabled: hsl(var(--hsl-grey));
  --color-negative: hsl(var(--hsl-red));
  --color-positive: hsl(var(--hsl-green));
  --color-primary: hsl(var(--hsl-primary));
  --color-secondary: hsl(var(--hsl-secondary));
  --color-white: hsl(var(--hsl-white));

  --color-border--heavy: hsl(var(--hsl-ink), 0.5);
  --color-border--light: hsl(var(--hsl-ink), 0.05);
  --color-border--medium: hsl(var(--hsl-ink), 0.3);
  --color-border--popup: hsl(var(--hsl-black), 0.15);
  --color-border--reversed: hsl(var(--hsl-almost-white), 0.25);
  --color-border--solid: hsl(var(--hsl-ink));
  --color-border: hsl(var(--hsl-ink), 0.15);
  --color-shadow: hsl(var(--hsl-black), 0.125);
  --color-txt--action: hsl(var(--hsl-primary));
  --color-txt--on-message-content: hsl(var(--hsl-almost-black));
  --color-txt--placeholder: hsl(var(--hsl-ink), 0.6);
  --color-txt--reversed: hsl(var(--hsl-background));
  --color-txt--subtle-on-message-content: hsl(var(--hsl-almost-black), 0.66);
  --color-txt--subtle-reversed: hsl(var(--hsl-background), 0.66);
  --color-txt--subtle: hsl(var(--hsl-ink), 0.66);
  --color-txt: hsl(var(--hsl-ink));

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family--mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;

  --font-size--base: 12px;
  --font-size--x-small: 1rem;
  --font-size--small: 1.2rem;
  --font-size--medium: 1.4rem;
  --font-size--large: 1.6rem;
  --font-size--x-large: 2rem;
  --font-size--xx-large: 3rem;

  --line-height--x-small: 1;
  --line-height--small: 1.125;
  --line-height--medium: 1.25;
  --line-height--large: 1.5;
  --line-height--x-large: 1.75;
  --line-height---xx-large: 2;

  --spacing--xx-small: 0.125rem;
  --spacing--x-small: 0.25rem;
  --spacing--small: 0.75rem;
  --spacing--medium: 1.25rem;
  --spacing--large: 1.75rem;
  --spacing--x-large: 2.25rem;
  --spacing--xx-large: 2.75rem;
  --spacing--xxx-large: 3.25rem;
}

[data-theme="dark"] {
  --hsl-almost-black: 0, 0%, 12%;
  --hsl-almost-white: 30, 14%, 91%;
  --hsl-black: 0, 0%, 0%;
  --hsl-blue: 196, 80%, 78%;
  --hsl-green: 148, 53%, 48%;
  --hsl-grey: 240, 5%, 48%;
  --hsl-mint: 166, 72%, 51%;
  --hsl-off-white: 40, 100%, 97%;
  --hsl-orange: 25, 74%, 69%;
  --hsl-purple: 247, 59%, 66%;
  --hsl-red: 4, 72%, 63%;
  --hsl-turquoise: 181, 56%, 71%;
  --hsl-violet: 289, 80%, 81%;
  --hsl-white: 0, 0%, 100%;
  --hsl-yellow: 46, 80%, 78%;

  --hsl-background: var(--hsl-almost-black);
  --hsl-ink: var(--hsl-almost-white);
  --hsl-primary: var(--hsl-mint);
  --hsl-secondary: var(--hsl-purple);

  --color-contrast: hsl(var(--hsl-white));
}

@media (min-width: 60rem) {
  :root {
    --font-size--x-small: 1.2rem;
    --font-size--small: 1.4rem;
    --font-size--medium: 1.6rem;
    --font-size--large: 1.8rem;
    --font-size--x-large: 2.2rem;
    --font-size--xx-large: 3.2rem;

    --spacing--x-small: 0.5rem;
    --spacing--small: 1rem;
    --spacing--medium: 1.5rem;
    --spacing--large: 2rem;
    --spacing--x-large: 2.5rem;
    --spacing--xx-large: 3rem;
    --spacing--xxx-large: 3.5rem;
  }
}

/* ########## CSS RESET ########## */
/* https://gist.github.com/Asjas/4d84111064a02e2de60efdf3a73c1296 */

/* Box sizing rules */
html {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Percentage based heights */
html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  line-height: var(--line-height--large);
  -webkit-font-smoothing: antialiased;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Make images, videos and icons easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

/* More sensible line-wrapping */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* React Framework Specific */
#root,
#__next {
  isolation: isolate;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ########## PAGE STYLING ########## */

html {
  background: hsl(var(--hsl-background));
  color: var(--color-txt);
  font-family: var(--font-family);
  font-size: var(--font-size--base);
  text-rendering: optimizeLegibility;
}

body {
  font-size: var(--font-size--medium);
}

main {
  margin: 0 auto;
  max-width: var(--content-width);
  padding: var(--spacing--medium);
  width: 100%;
}

/* ########## ELEMENT STYLING ########## */

header {
  padding: var(--spacing--small) 0;
  text-align: center;
}

logo {
  color: var(--color-primary);
  display: inline-block;
  margin-top: var(--spacing--large);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  line-height: var(--line-height--small);
  padding-bottom: var(--spacing--small);
  padding-top: var(--spacing--xx-large);
}

h1 {
  font-size: var(--font-size--xx-large);
}

h2 {
  font-size: var(--font-size--x-large);
}

h3 {
  font-size: var(--font-size--large);
}

h4 {
  font-size: var(--font-size--medium);
}

h5 {
  font-size: var(--font-size--small);
}

h6 {
  font-size: var(--font-size--x-small);
}

p {
  margin: var(--spacing--small) 0;
}

a {
  color: var(--color-txt--action);
  font-weight: 600;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: 900 !important;
}

a.secondary {
  color: var(--color-secondary);
}

a.contrast {
  color: var(--color-contrast);
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: var(--spacing--large) 0;
}

li {
  list-style-position: inside;
}

li > ul,
li > ol {
  margin: 0 0 0 var(--spacing--x-large);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-border);
  margin: var(--spacing--x-large) 0;
}

blockquote {
  border-inline-start: 1px solid var(--color-border);
  padding-block: 0;
  padding-inline-end: 0;
  padding-inline-start: var(--spacing--medium);
}

pre {
  font-family: var(--font-family--mono);
  font-size: var(--font-size--small);
  line-height: var(--line-height--large);
  margin: var(--spacing--large) 0;
  overflow-wrap: normal;
  overflow: auto;
  padding: var(--spacing--medium);
}

mark {
  background-color: hsl(var(--hsl-yellow));
  padding: 0 var(--spacing--xx-small);
}

kbd {
  /* align-self: center; */
  background-color: var(--color-secondary);
  border-radius: var(--spacing--small);
  font-family: var(--font-family--mono);
  font-size: var(--font-size--small);
  font-weight: 600;
  padding: 0 var(--spacing--small);
}

del,
ins {
  border-radius: var(--spacing--small);
  font-weight: 600;
}

del {
  color: var(--color-negative);
}

ins {
  color: var(--color-positive);
  text-decoration: none;
}

/* ########## THEME TOGGLE STYLING ########## */

.toggle-theme {
  background: transparent;
  background-image: none;
  border: 0;
  color: var(--color-primary);
  cursor: pointer;
  position: absolute;
  left: var(--spacing--large);
  top: var(--spacing--large);
  transition: all 0.3s ease-in-out;
  padding-top: 0.25em;
}

/* .toggle-theme:hover,
.toggle-theme:focus {
  color: hsl(var(--hsl-yellow));
} */

.toggle-theme .sun {
  display: none;
}

[data-theme="dark"] .toggle-theme .moon {
  display: none;
}

[data-theme="dark"] .toggle-theme .sun {
  display: block;
}

/* ########## NAVIGATION STYLING ########## */

header input#toggle-nav {
  display: none;
}

#hamburger {
  position: absolute;
  right: var(--spacing--large);
  top: var(--spacing--large);
  z-index: 1;
}

#icon-hamburger {
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav {
  background: var(--color-primary);
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: -100%;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-top: var(--spacing--xxx-large);
}

nav ul li {
  padding-bottom: var(--spacing--medium);
}

nav a {
  color: hsl(var(--hsl-white));
  font-size: var(--font-size--xx-large);
  font-weight: 900;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

input#toggle-nav:checked + #hamburger * {
  color: var(--color-txt--reversed);
}

input#toggle-nav:checked + #hamburger + nav {
  top: 0;
  transform: scale(1);
}

/* ########## MAIN STYLING ########## */

main img {
  justify-content: center;
  margin: var(--spacing--large) auto;
}

main ul#posts {
  list-style: none;
  margin: 0;
}

main ul#posts h2 {
  font-size: var(--font-size--xx-large);
  list-style: none;
  margin: 0;
}

main ul#posts li:not(:first-child) {
  border: 0;
  border-top: 1px solid var(--color-border);
  margin-top: var(--spacing--xxx-large);
}

.callout {
  background-color: hsl(var(--hsl-yellow));
  border-radius: var(--spacing--small);
  color: var(--color-almost-black);
  font-weight: 700;
  margin: var(--spacing--large) 0;
  padding: var(--spacing--large);
}

.callout-positive {
  background-color: var(--color-positive);
  color: var(--color-white);
}

.callout-negative {
  background-color: var(--color-negative);
  color: var(--color-white);
}

.callout p {
  margin: 0;
  padding: 0;
}

.callout a {
  color: inherit;
  font-weight: inherit;
}

.callout a:hover {
  color: inherit;
  font-weight: 900;
}

main button {
  background-color: var(--color-primary);
  border-radius: var(--spacing--large);
  border: none;
  color: var(--color-txt--reversed);
  cursor: pointer;
  font-size: var(--font-size--large);
  font-weight: 700;
  padding: var(--spacing--small) var(--spacing--medium);
  width: 100%;
}

main button.secondary {
  background-color: var(--color-secondary);
}

main button.contrast {
  background-color: var(--color-contrast);
}

main button.outline {
  background-color: transparent;
  border: 3px solid var(--color-primary);
  color: var(--color-contrast);
}

main button.outline.secondary {
  border: 3px solid var(--color-secondary);
}

main button.outline.contrast {
  border: 3px solid var(--color-contrast);
}

input#search-query {
  width: 100%;
}

figure {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: var(--spacing--large) 0;
  text-indent: 0;
  width: 100%;
}

thead th {
  border-bottom: 3px solid var(--color-primary);
}

td,
th {
  padding: var(--spacing--small);
  text-align: start;
}

table tbody tr:nth-child(odd) {
  background-color: hsl(var(--hsl-ink), 0.125);
}

/* ########## FOOTER STYLING ########## */

footer {
  align-items: center;
  border-top: 1px solid var(--color-border);
  margin: var(--spacing--large) auto 0 auto;
  max-width: var(--content-width);
  padding: var(--spacing--large) var(--spacing--small);
  width: 100%;
  text-align: center;
}

footer li {
  display: inline-block;
  padding: var(--spacing--small);
}

/* ########## UTILITY CLASSES ########## */

.bold {
  font-weight: 700 !important;
}

.bolder {
  font-weight: 900 !important;
}

.center {
  align-items: center !important;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: var(--spacing--large) 0;
}

.grid {
  display: grid;
  grid-column-gap: var(--spacing--medium);
  grid-row-gap: var(--spacing--medium);
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--content-width) / 4), 1fr));
  margin: var(--spacing--large) 0;
}

.list-inline {
  display: inline !important;
}

/* MARGIN */

.m-0 {
  margin: 0 !important;
}

.m-xs {
  margin: var(--spacing--x-small) !important;
}

.m-s {
  margin: var(--spacing--small) !important;
}

.m-m {
  margin: var(--spacing--medium) !important;
}

.m-l {
  margin: var(--spacing--large) !important;
}

.m-xl {
  margin: var(--spacing--x-large) !important;
}

.m-xxl {
  margin: var(--spacing--xx-large) !important;
}

.m-xxxl {
  margin: var(--spacing--xxx-large) !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-xs {
  margin-top: var(--spacing--x-small) !important;
}

.mt-s {
  margin-top: var(--spacing--small) !important;
}

.mt-m {
  margin-top: var(--spacing--medium) !important;
}

.mt-l {
  margin-top: var(--spacing--large) !important;
}

.mt-xl {
  margin-top: var(--spacing--x-large) !important;
}

.mt-xxl {
  margin-top: var(--spacing--xx-large) !important;
}

.mt-xxxl {
  margin-top: var(--spacing--xxx-large) !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-xs {
  margin-bottom: var(--spacing--x-small) !important;
}

.mb-s {
  margin-bottom: var(--spacing--small) !important;
}

.mb-m {
  margin-bottom: var(--spacing--medium) !important;
}

.mb-l {
  margin-bottom: var(--spacing--large) !important;
}

.mb-xl {
  margin-bottom: var(--spacing--x-large) !important;
}

.mb-xxl {
  margin-bottom: var(--spacing--xx-large) !important;
}

.mb-xxxl {
  margin-bottom: var(--spacing--xxx-large) !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-xs {
  margin-left: var(--spacing--x-small) !important;
}

.ml-s {
  margin-left: var(--spacing--small) !important;
}

.ml-m {
  margin-left: var(--spacing--medium) !important;
}

.ml-l {
  margin-left: var(--spacing--large) !important;
}

.ml-xl {
  margin-left: var(--spacing--x-large) !important;
}

.ml-xxl {
  margin-left: var(--spacing--xx-large) !important;
}

.ml-xxxl {
  margin-left: var(--spacing--xxx-large) !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-xs {
  margin-right: var(--spacing--x-small) !important;
}

.mr-s {
  margin-right: var(--spacing--small) !important;
}

.mr-m {
  margin-right: var(--spacing--medium) !important;
}

.mr-l {
  margin-right: var(--spacing--large) !important;
}

.mr-xl {
  margin-right: var(--spacing--x-large) !important;
}

.mr-xxl {
  margin-right: var(--spacing--xx-large) !important;
}

.mr-xxxl {
  margin-right: var(--spacing--xxx-large) !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-xs {
  margin-left: var(--spacing--x-small) !important;
  margin-right: var(--spacing--x-small) !important;
}

.mx-s {
  margin-left: var(--spacing--small) !important;
  margin-right: var(--spacing--small) !important;
}

.mx-m {
  margin-left: var(--spacing--medium) !important;
  margin-right: var(--spacing--medium) !important;
}

.mx-l {
  margin-left: var(--spacing--large) !important;
  margin-right: var(--spacing--large) !important;
}

.mx-xl {
  margin-left: var(--spacing--x-large) !important;
  margin-right: var(--spacing--x-large) !important;
}

.mx-xxl {
  margin-left: var(--spacing--xx-large) !important;
  margin-right: var(--spacing--xx-large) !important;
}

.mx-xxxl {
  margin-left: var(--spacing--xxx-large) !important;
  margin-right: var(--spacing--xxx-large) !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-xs {
  margin-top: var(--spacing--x-small) !important;
  margin-bottom: var(--spacing--x-small) !important;
}

.my-s {
  margin-top: var(--spacing--small) !important;
  margin-bottom: var(--spacing--small) !important;
}

.my-m {
  margin-top: var(--spacing--medium) !important;
  margin-bottom: var(--spacing--medium) !important;
}

.my-l {
  margin-top: var(--spacing--large) !important;
  margin-bottom: var(--spacing--large) !important;
}

.my-xl {
  margin-top: var(--spacing--x-large) !important;
  margin-bottom: var(--spacing--x-large) !important;
}

.my-xxl {
  margin-top: var(--spacing--xx-large) !important;
  margin-bottom: var(--spacing--xx-large) !important;
}

.my-xxxl {
  margin-top: var(--spacing--xxx-large) !important;
  margin-bottom: var(--spacing--xxx-large) !important;
}

/* PADDING */

.p-0 {
  padding: 0 !important;
}

.p-xs {
  padding: var(--spacing--x-small) !important;
}

.p-s {
  padding: var(--spacing--small) !important;
}

.p-m {
  padding: var(--spacing--medium) !important;
}

.p-l {
  padding: var(--spacing--large) !important;
}

.p-xl {
  padding: var(--spacing--x-large) !important;
}

.p-xxl {
  padding: var(--spacing--xx-large) !important;
}

.p-xxxl {
  padding: var(--spacing--xxx-large) !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-xs {
  padding-top: var(--spacing--x-small) !important;
}

.pt-s {
  padding-top: var(--spacing--small) !important;
}

.pt-m {
  padding-top: var(--spacing--medium) !important;
}

.pt-l {
  padding-top: var(--spacing--large) !important;
}

.pt-xl {
  padding-top: var(--spacing--x-large) !important;
}

.pt-xxl {
  padding-top: var(--spacing--xx-large) !important;
}

.pt-xxxl {
  padding-top: var(--spacing--xxx-large) !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-xs {
  padding-bottom: var(--spacing--x-small) !important;
}

.pb-s {
  padding-bottom: var(--spacing--small) !important;
}

.pb-m {
  padding-bottom: var(--spacing--medium) !important;
}

.pb-l {
  padding-bottom: var(--spacing--large) !important;
}

.pb-xl {
  padding-bottom: var(--spacing--x-large) !important;
}

.pb-xxl {
  padding-bottom: var(--spacing--xx-large) !important;
}

.pb-xxxl {
  padding-bottom: var(--spacing--xxx-large) !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-xs {
  padding-left: var(--spacing--x-small) !important;
}

.pl-s {
  padding-left: var(--spacing--small) !important;
}

.pl-m {
  padding-left: var(--spacing--medium) !important;
}

.pl-l {
  padding-left: var(--spacing--large) !important;
}

.pl-xl {
  padding-left: var(--spacing--x-large) !important;
}

.pl-xxl {
  padding-left: var(--spacing--xx-large) !important;
}

.pl-xxxl {
  padding-left: var(--spacing--xxx-large) !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-xs {
  padding-right: var(--spacing--x-small) !important;
}

.pr-s {
  padding-right: var(--spacing--small) !important;
}

.pr-m {
  padding-right: var(--spacing--medium) !important;
}

.pr-l {
  padding-right: var(--spacing--large) !important;
}

.pr-xl {
  padding-right: var(--spacing--x-large) !important;
}

.pr-xxl {
  padding-right: var(--spacing--xx-large) !important;
}

.pr-xxxl {
  padding-right: var(--spacing--xxx-large) !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-xs {
  padding-left: var(--spacing--x-small) !important;
  padding-right: var(--spacing--x-small) !important;
}

.px-s {
  padding-left: var(--spacing--small) !important;
  padding-right: var(--spacing--small) !important;
}

.px-m {
  padding-left: var(--spacing--medium) !important;
  padding-right: var(--spacing--medium) !important;
}

.px-l {
  padding-left: var(--spacing--large) !important;
  padding-right: var(--spacing--large) !important;
}

.px-xl {
  padding-left: var(--spacing--x-large) !important;
  padding-right: var(--spacing--x-large) !important;
}

.px-xxl {
  padding-left: var(--spacing--xx-large) !important;
  padding-right: var(--spacing--xx-large) !important;
}

.px-xxxl {
  padding-left: var(--spacing--xxx-large) !important;
  padding-right: var(--spacing--xxx-large) !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-xs {
  padding-top: var(--spacing--x-small) !important;
  padding-bottom: var(--spacing--x-small) !important;
}

.py-s {
  padding-top: var(--spacing--small) !important;
  padding-bottom: var(--spacing--small) !important;
}

.py-m {
  padding-top: var(--spacing--medium) !important;
  padding-bottom: var(--spacing--medium) !important;
}

.py-l {
  padding-top: var(--spacing--large) !important;
  padding-bottom: var(--spacing--large) !important;
}

.py-xl {
  padding-top: var(--spacing--x-large) !important;
  padding-bottom: var(--spacing--x-large) !important;
}

.py-xxl {
  padding-top: var(--spacing--xx-large) !important;
  padding-bottom: var(--spacing--xx-large) !important;
}

.py-xxxl {
  padding-top: var(--spacing--xxx-large) !important;
  padding-bottom: var(--spacing--xxx-large) !important;
}

.table {
  overflow-x: auto;
}

.text-align-center {
  text-align: center !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.width-100 {
  width: 100%;
}

/* ########## RESPONSIVE VIDEO WRAPPER ########## */
/* https://css-tricks.com/fluid-width-video/ */

.video-wrapper {
  height: 0;
  margin: var(--spacing--large) 0;
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
  position: relative;
}

.video-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media print {
  main {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  header#page-header {
    display: none;
  }

  footer {
    border: none;
    padding: 0;
  }

  h1#post-title {
    padding-top: 0;
  }

  pre {
    border: 1px solid var(--color-border);
    white-space: pre-wrap;
  }

  /* ########## CODEHILITE DEFAULT STYLING FOR PRINTING ########## */

  td.linenos .normal {
    color: inherit;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
  }
  span.linenos {
    color: inherit;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
  }
  td.linenos .special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
  }
  span.linenos.special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
  }
  .codehilite .hll {
    background-color: #ffffcc;
  }
  .codehilite {
    background: #f8f8f8;
  }
  .codehilite .c {
    color: #3d7b7b;
    font-style: italic;
  } /* Comment */
  .codehilite .err {
    border: 1px solid #ff0000;
  } /* Error */
  .codehilite .k {
    color: #008000;
    font-weight: bold;
  } /* Keyword */
  .codehilite .o {
    color: #666666;
  } /* Operator */
  .codehilite .ch {
    color: #3d7b7b;
    font-style: italic;
  } /* Comment.Hashbang */
  .codehilite .cm {
    color: #3d7b7b;
    font-style: italic;
  } /* Comment.Multiline */
  .codehilite .cp {
    color: #9c6500;
  } /* Comment.Preproc */
  .codehilite .cpf {
    color: #3d7b7b;
    font-style: italic;
  } /* Comment.PreprocFile */
  .codehilite .c1 {
    color: #3d7b7b;
    font-style: italic;
  } /* Comment.Single */
  .codehilite .cs {
    color: #3d7b7b;
    font-style: italic;
  } /* Comment.Special */
  .codehilite .gd {
    color: #a00000;
  } /* Generic.Deleted */
  .codehilite .ge {
    font-style: italic;
  } /* Generic.Emph */
  .codehilite .gr {
    color: #e40000;
  } /* Generic.Error */
  .codehilite .gh {
    color: #000080;
    font-weight: bold;
  } /* Generic.Heading */
  .codehilite .gi {
    color: #008400;
  } /* Generic.Inserted */
  .codehilite .go {
    color: #717171;
  } /* Generic.Output */
  .codehilite .gp {
    color: #000080;
    font-weight: bold;
  } /* Generic.Prompt */
  .codehilite .gs {
    font-weight: bold;
  } /* Generic.Strong */
  .codehilite .gu {
    color: #800080;
    font-weight: bold;
  } /* Generic.Subheading */
  .codehilite .gt {
    color: #0044dd;
  } /* Generic.Traceback */
  .codehilite .kc {
    color: #008000;
    font-weight: bold;
  } /* Keyword.Constant */
  .codehilite .kd {
    color: #008000;
    font-weight: bold;
  } /* Keyword.Declaration */
  .codehilite .kn {
    color: #008000;
    font-weight: bold;
  } /* Keyword.Namespace */
  .codehilite .kp {
    color: #008000;
  } /* Keyword.Pseudo */
  .codehilite .kr {
    color: #008000;
    font-weight: bold;
  } /* Keyword.Reserved */
  .codehilite .kt {
    color: #b00040;
  } /* Keyword.Type */
  .codehilite .m {
    color: #666666;
  } /* Literal.Number */
  .codehilite .s {
    color: #ba2121;
  } /* Literal.String */
  .codehilite .na {
    color: #687822;
  } /* Name.Attribute */
  .codehilite .nb {
    color: #008000;
  } /* Name.Builtin */
  .codehilite .nc {
    color: #0000ff;
    font-weight: bold;
  } /* Name.Class */
  .codehilite .no {
    color: #880000;
  } /* Name.Constant */
  .codehilite .nd {
    color: #aa22ff;
  } /* Name.Decorator */
  .codehilite .ni {
    color: #717171;
    font-weight: bold;
  } /* Name.Entity */
  .codehilite .ne {
    color: #cb3f38;
    font-weight: bold;
  } /* Name.Exception */
  .codehilite .nf {
    color: #0000ff;
  } /* Name.Function */
  .codehilite .nl {
    color: #767600;
  } /* Name.Label */
  .codehilite .nn {
    color: #0000ff;
    font-weight: bold;
  } /* Name.Namespace */
  .codehilite .nt {
    color: #008000;
    font-weight: bold;
  } /* Name.Tag */
  .codehilite .nv {
    color: #19177c;
  } /* Name.Variable */
  .codehilite .ow {
    color: #aa22ff;
    font-weight: bold;
  } /* Operator.Word */
  .codehilite .w {
    color: #bbbbbb;
  } /* Text.Whitespace */
  .codehilite .mb {
    color: #666666;
  } /* Literal.Number.Bin */
  .codehilite .mf {
    color: #666666;
  } /* Literal.Number.Float */
  .codehilite .mh {
    color: #666666;
  } /* Literal.Number.Hex */
  .codehilite .mi {
    color: #666666;
  } /* Literal.Number.Integer */
  .codehilite .mo {
    color: #666666;
  } /* Literal.Number.Oct */
  .codehilite .sa {
    color: #ba2121;
  } /* Literal.String.Affix */
  .codehilite .sb {
    color: #ba2121;
  } /* Literal.String.Backtick */
  .codehilite .sc {
    color: #ba2121;
  } /* Literal.String.Char */
  .codehilite .dl {
    color: #ba2121;
  } /* Literal.String.Delimiter */
  .codehilite .sd {
    color: #ba2121;
    font-style: italic;
  } /* Literal.String.Doc */
  .codehilite .s2 {
    color: #ba2121;
  } /* Literal.String.Double */
  .codehilite .se {
    color: #aa5d1f;
    font-weight: bold;
  } /* Literal.String.Escape */
  .codehilite .sh {
    color: #ba2121;
  } /* Literal.String.Heredoc */
  .codehilite .si {
    color: #a45a77;
    font-weight: bold;
  } /* Literal.String.Interpol */
  .codehilite .sx {
    color: #008000;
  } /* Literal.String.Other */
  .codehilite .sr {
    color: #a45a77;
  } /* Literal.String.Regex */
  .codehilite .s1 {
    color: #ba2121;
  } /* Literal.String.Single */
  .codehilite .ss {
    color: #19177c;
  } /* Literal.String.Symbol */
  .codehilite .bp {
    color: #008000;
  } /* Name.Builtin.Pseudo */
  .codehilite .fm {
    color: #0000ff;
  } /* Name.Function.Magic */
  .codehilite .vc {
    color: #19177c;
  } /* Name.Variable.Class */
  .codehilite .vg {
    color: #19177c;
  } /* Name.Variable.Global */
  .codehilite .vi {
    color: #19177c;
  } /* Name.Variable.Instance */
  .codehilite .vm {
    color: #19177c;
  } /* Name.Variable.Magic */
  .codehilite .il {
    color: #666666;
  } /* Literal.Number.Integer.Long */
}
