<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta name="description" content="playground" />

    <title>{{ base_dir.name }}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/playground.css') }}" />
</head>

<body>

    {% block content %}

    <header>
        <h1>/{{ base_dir|trim("content/") }}</h1>
    </header>

    <section>

        <div>
            {% if base_dir|trim("content/") != "playground" %}
            {% if parent_dir == "playground" %}
            <p><a href="{{ url_for('playground') }}">[To Parent Directory]</a></p>
            {% else %}
            <p><a href="{{ url_for('playground_page', path=parent_dir) }}">[To Parent Directory]</a></p>
            {% endif %}
            {% endif %}
        </div>

        <table id="paths">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Last Modified</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                {% for path in paths %}
                <tr>
                    <td>
                        {% if path.is_dir() %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-fill" viewBox="0 0 16 16">
                            <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z" />
                        </svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                            <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2z" />
                        </svg>
                        {% endif %}
                    </td>
                    <td><a href="{{ url_for('playground_page', path=path|playground_path) }}">{{ path.name }}</a></td>
                    <td>{{ path|playground_path_mtime }}</td>
                    <td>{{ path|playground_path_size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>

    {% endblock content %}

</body>

</html>