{% extends "base.html" %}
{% block content %}
{% if filter %}
<h1 class="text-align-center">#{{ filter }}</h1>
<hr />
{% endif %}
{% for post in posts %}
<article>
  {% if filter == "drafts" %}
  <h1><a class="text-decoration-none" href="{{ url_for('draft', name=post.path.replace(post.folder, '')) }}">{{ post.title }}</a></h1>
  {% else %}
  <h1><a class="text-decoration-none" href="{{ url_for('post', name=post.path.replace(post.folder, '')) }}">{{ post.title }}</a></h1>
  {% endif %}
  <p>{{ post.description }}</p>
</article>
{% endfor %}
{% endblock content %}