{% extends "base.html" %}
{% block content %}
<article>
  <h1>{{ post.title }}</h1>
  <div id="post-meta">
    By {{ post.author | default("Josh Duncan", true) }} •
    {% if post.updated %}
    <b>Updated</b> {{ post.updated.strftime('%B %Y') }}
    {% else %}
    <b>Published</b> {{ post.date.strftime('%B %Y') }}{% endif %} •
    <a href="{{ url_for('category', category=post.category) }}"><b>{{ post.category }}</b></a>
  </div>
  <div id="post-body">
    {{ post.html|safe }}
  </div>
  <div id="post-tags">
    {% if post.meta["tags"] %}
    <ul id="tags">
      <li><b>Tags:</b></li>
      {% for tag in post.meta["tags"].split(", ") | sort %}
      <li><a href="{{ url_for('tagged', tag=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</article>
{% endblock content %}