{% extends "base.html" %}
{% block content %}
<article>
  <header>
    <h1 id="post-title">{{ post.title }}</h1>
    <div id="post-meta">
      {% if post.updated %}
      <b>Updated</b> <time datetime="{{ post.updated.strftime('%Y-%m-%d') }}">{{ post.updated.strftime('%B %Y') }}</time>
      {% else %}
      <b>Published</b> <time datetime="{{ post.date.strftime('%Y-%m-%d') }}">{{ post.date.strftime('%B %Y') }}</time>
      {% endif %}
      • {{ (post.body|wordcount / 200)|round|int}} min read
    </div>
  </header>
  <div id="post-body">
    {{ post.html|safe }}
  </div>
  <div id="post-categorization">
    {% if post.meta["category"] %}
    <p>
      <b>Category: </b><a href="{{ url_for('category', category=post.category) }}">{{ post.category }}</a>
    </p>
    {% endif %}
    {% if post.meta["tags"] %}
    <p>
      <b>Tags:</b>
      {% for tag in post.meta["tags"].split(", ") | sort %}
      <a href="{{ url_for('tagged', tag=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
    {% endif %}
  </div>
</article>
{% endblock content %}