{% extends "base.html" %}
{% block content %}
<div class="gsearch text-align-center">
  <h1>whatcha looking for...</h1>
  <form action="https://www.google.com/search" method="GET">
    <div>
      <input type="text" class="text-align-center" id="search-query" autocomplete="off" />
      <input type="hidden" id="q" name="q" />
    </div>
    <button type="submit">Search</button>
  </form>
</div>

<hr>

<div class="text-align-center">
  <ul id="category" data-title="Categories:">
    {% for category in categories %}
    <li><a href="{{ url_for('category', category=category) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}</li>
    {% endfor %}
  </ul>
</div>

<div class="text-align-center">
  <ul id="tags" data-title="Tags:">
    {% for tag in tags %}
    <li><a href="{{ url_for('tagged', tag=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}</li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript">
  var form = document.querySelector("form");
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    var search = form.querySelector("input[type=text]");
    var q = form.querySelector("input[name=q]");
    q.value = "site:joshbduncan.com " + search.value;
    form.submit();
  });
</script>
{% endblock content %}