{% extends "base.html" %}
{% block content %}
<article class="page">
    <hgroup>
        <h1 class="posts-filter">{{ title }}</h1>
    </hgroup>
    <section>
        <ul class="tags">
            {% for tag in tags %}
            {% if route == "category" %}
            {% set tag_url = url_for(route, category=tag) %}
            {% else %}
            {% set tag_url = url_for(route, tag=tag) %}
            {% endif %}
            <li><a role="button" class="outline" href="{{ tag_url }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </section>
</article>
{% endblock content %}